<div class="widget-header">
    <h2><i class="icon-book"></i>Summary</h2>
</div>
<div class="widget-content">
    <dl class="dl-horizontal">
        <dt><strong><%= Unit.human_attribute_name(:name) %>:</strong></dt>
        <dd><%= unit.name %></dd>
        <dt><strong><%= Unit.human_attribute_name(:description) %>:</strong></dt>
        <dd><%= unit.description %></dd>
        <dt><strong><%= Unit.human_attribute_name(:start_date) %>:</strong></dt>
        <dd><%= unit.start_date.strftime("%d %B %Y") %></dd>
        <dt><strong><%= Unit.human_attribute_name(:end_date) %>:</strong></dt>
        <dd><%= unit.end_date.strftime("%d %B %Y") %></dd>
    </dl>
    <hr />
    <%= link_to t('.edit', default:  t("helpers.links.edit")), edit_admin_unit_path(unit), class:  'btn' %>
</div>