<div class="widget-header">
    <h2><i class="icon-group"></i>Tutorials</h2>
</div>
<div class="widget-content">
    <%= render 'tutorials/table',
        tutorial_list: project_tutorials,
        empty_table_string: "This project has no tutorials."
    %>
    <hr />
    <%= link_to "Create new tutorial", new_unit_tutorial_path(unit), class:  'btn', "data-remote" => true %>
    <hr />
    <div class="well">
    <%= form_tag "#{unit.id}/import_tutorials", multipart:  true, remote:  true do %>
        <%= file_field(:csv_file, :file) %>
        <%= submit_tag "Import Tutorials from CSV", class:  "btn" %>
    <% end %>
    </div>
</div>