<table class="table table-striped">
	<thead>
		<tr>
			<th><%= sortable "username" %></th>
			<th><%= sortable "name" %></th>
			<th><%= sortable "progress" %></th>
			<th><%= sortable "tasks_completed" %></th>
			<th><%= sortable "units_completed", "Completed Units" %></th>
			<th>Team</th>
		</tr>
	</thead>
	<tbody>
		<% @projects.each do |project| %>
			<tr>
				<td><%= link_to project.team_membership.user.username, project_path(project) %></td>
				<td><%= project.team_membership.user.name %></td>
				<td>
					<% if project.in_progress? and !project.completed? %> 
					<%= progress_badge(project.progress) %>
					<% else %>
					<%= status_badge(project.status) %>
					<% end %>
				<td>
					<%= link_to "#{project.completed_tasks.size} / #{project.assigned_tasks.size}", project_path(project) %>
				</td>
				<td>
					<%= link_to "#{"%3.1f" % project.task_units_completed}" %>
				</td>
				<td>
					<%= link_to [
						"#{project.team_membership.team.meeting_day}",
						"#{project.team_membership.team.meeting_time}",
						"(#{project.team_membership.team.user.name})"
					].join(" "), convenor_project_team_path(project.project_template, project.team_membership.team) %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>