<%= render :partial => "tutor_projects/task_indicator_controls", locals: {mode: :progress} %>

<% teams.each do |team| %>
<div class="team-entry" id="team-<%= team.id %>-students">
    <h3><%= team.meeting_day %> <%= team.meeting_time %> (<%= team.user.name %>)</h3>
    <%= render :partial => "convenor_projects/team_project_list", :locals => { :team => team } %>
</div>
<% end %>