<% stylesheets 'convenor.css' %>
<% javascript 'status_distribution.js' %>

<% title "Convenor Dashboard" %>


<% content_for :sidebar do %>
    <ul class="nav nav-list">
        <li class="nav-header">Dashboard</li>
        <li class="active"><%= link_to 'Home', root_url %></li>
        <% unless @active_convenor_units.empty? and @inactive_convenor_units.empty? %>
            <%= render partial: 'dashboard/convenor_projects_links',
                locals: { active_projects: @active_convenor_units, inactive_projects: @inactive_convenor_units }
            %>
        <% end %>
    </ul>
<% end %>

<div class="span9">
    <% if @inactive_convenor_units.size < 3 %>
        <% @inactive_convenor_units.each_with_index do |project, i| %>
        <div class="row-fluid">
            <div class="span12 widget">
                <h2><i class="icon-book"></i><%= project.name %></h2>
                <div class="widget-content">
                    <%= render partial: 'convenor_projects/convenor_project',
                        locals: {
                            project: project,
                            status_distribution: project.status_distribution
                        }
                    %>
                </div>
            </div>
        </div>
        <% end %>
    <% else %>
        <% @inactive_convenor_units.each_with_index do |project, i| %>
            <% if i % 2 == 0 %>
            <div class="row-fluid">
            <% end %>
                <div class="span6 widget">
                    <h2><i class="icon-book"></i><%= project.name %></h2>
                    <div class="widget-content">
                        <%= render partial: 'convenor_projects/convenor_project',
                            locals: {
                                project: project,
                                status_distribution: project.status_distribution
                            }
                        %>
                    </div>
                </div>
            <% if i % 2 == 1 %>
            </div>
            <% end %>
        <% end %>       
    <% end %>
</div>