<li class="nav-header">Current Subjects You Convene</li>
<% active_units.each do |unit| %>
    <% if !local_assigns[:selected_unit].nil? && unit.id == selected_unit.id %>
        <li class="active"><a href="<%= convenor_unit_path(unit) %>"><%= unit.name %></a></li>
    <% else %>  
        <li><a href="<%= convenor_unit_path(unit) %>"><%= unit.name %></a></li>
    <% end %>
<% end %>

<% unless inactive_units.empty? %>
    <li class="divider"></li>
    <li class="nav-header">Older Subjects You Convened</li>

    <% inactive_units.each do |unit| %>
        <% if !local_assigns[:selected_unit].nil? && unit.id == selected_unit.id %>
            <li class="active"><a href="<%= convenor_unit_path(unit) %>"><%= unit.name %></a></li>
        <% else %>  
            <li><a href="<%= convenor_unit_path(unit) %>"><%= unit.name %></a></li>
        <% end %>
    <% end %>

<% end %>