<div class="row-fluid">
<% if unit_data[:roles].include? 'Convenor' %>
    <div class="<%= unit_data[:roles].include?('Tutor') ? 'span6' : 'span12' %>">
    <h3>Student Progress</h3>
    <%= 
        render 'units/status_distribution_chart',
        unit: unit
    %>
    <%=
        render 'units/progress_bands',
        status_distribution: unit.status_distribution
    %>
    </div>
<% end %>
<% if unit_data[:roles].include? 'Tutor' %>
    <div class="<%= unit_data[:roles].include?('Tutor') ? 'span6' : 'span12' %>">
        <div class="row-fluid">
            <h3>Your Tutorials</h3>
            <% unit_data[:tutorials].each do |tutorial| %>
                <h4><%= tutorial.name %></h4>
                <div class="progress" style="max-width: 400px;">
                <% status_distribution = tutorial.status_distribution %>
                <% (Progress.types + [:not_started]).each do |progress| %>
                    <% if status_distribution[progress] %>
                    <%= content_tag :div, '',
                        class: "bar progress-#{progress.to_s.dasherize}",
                        style: "width: #{(status_distribution[progress].to_f / status_distribution[:total].to_f) * 100}%",
                        "data-toggle" => 'tooltip',
                        title: 'Poo'
                    %>
                    <% end %>
                <% end %>
                </div>
            <% end %>
        </div>
    </div>
<% end %>
</div>

<div class="row-fluid">
    <p class="project-link"><%= link_to "Go to Project", unit, class: "btn" %></p>
</div>