<div class="row-fluid">
<% if unit_data[:roles].include? 'Convenor' %>
    <div class="<%= unit_data[:roles].include?('Tutor') ? 'span6' : 'span12' %>">
    <h3>Student Progress</h3>
    <%=
        render 'units/status_distribution_chart',
        unit: unit
    %>
    <%=
        render 'units/progress_bands',
        status_distribution: unit.status_distribution
    %>
    </div>
<% end %>
<% if unit_data[:roles].include? 'Tutor' %>
    <div class="<%= unit_data[:roles].include?('Tutor') ? 'span6' : 'span12' %>">
        <div class="row-fluid">
            <h3>Your Tutorials</h3>
            <%= render 'units/your_tutorials',
                tutorials: unit_data[:tutorials]
            %>
        </div>
    </div>
<% end %>
</div>

<div class="row-fluid widget-links">
    <p class="unit-link" style="float: left;"><%= link_to "Go to Unit", unit, class: "btn" %></p>
    <% if user.admin? %>
    <div class="unit-admin-controls" style="font-size: 24px; float: right;">
        <%= content_tag "a", href: admin_unit_url(unit), class: 'link-icon' do %>
            <i class="icon-cog"></i>
        <% end %>
    </div>
    <% end %>
</div>