<%= javascript 'projects.js' %>
<%= stylesheets 'tasks.css' %>

<h2><i class="icon-tasks"></i>Tasks</h2>
<div class="widget-content">
	<% if @project.has_optional_tasks? %>
	<h3>Assigned Tasks</h3>
	<%= render 	:partial => "tasks/assigned_task_list",
				:locals => { :assigned_tasks => tasks }
	%>
	<h3>Optional Tasks</h3>
	<%= render 	:partial => "tasks/optional_task_list",
				:locals => { :optional_tasks => @project.optional_tasks }
	%>
	<% else %>
	<%= render 	:partial => "tasks/assigned_task_list",
				:locals => { :assigned_tasks => tasks }
	%>
	<% end %>
</div>
