<%= javascript 'projects.js' %>
<%= stylesheets 'tasks.css' %>

<h2><i class="icon-tasks"></i>Tasks</h2>
<div class="widget-content" id="task-list-widget">
	<% tasks.sort{|a,b| a.task_template.recommended_completion_date <=> b.task_template.recommended_completion_date}.each do |task| %>
	<div class="task-list-entry row-fluid" id="task-<%= task.id %>-entry">
		<h4>
			<%= link_to truncate(task.task_template.name, :length => 30), project_task_path(@project, task) %>
		</h4>
		<p class="task-weighting-points">(<%= task.task_template.weighting %> points)</p>
		<p class="toggle-task-description-container"><a href="#" class="toggle-task-description btn"><i class="icon-chevron-down"></i></a></p>
		<p class="task-submission-vs-time"><%= task_submission_vs_time_text(task) %></p>
		<div  id="task-<%= task.id %>-controls" class="task-status-controls" style="display: inline-block;">
			<%= render :partial => "tasks/task_status_control", :locals => { :task => task } %>
		</div>
		<div class="task-description">
			<p><%= task.task_template.description %></p>
		</div>
	</div>
	<% end %>
</div>
