<h2><i class="icon-list"></i>Highlights</h2>
<div class="widget-content">
	<div class="activity-feed-entry">
		<div class="feed-entry-body">
			<h3>Tasks Due</h3>
			<% if @project.overdue_tasks.empty? and @project.currently_due_tasks.empty? %>
					<p>You have no outstanding due tasks for this project.</p>
			<% else %>
				<% unless @project.overdue_tasks.empty? %>
					<h4>Overdue</h4>
					<ol>
						<% @project.overdue_tasks.each do |overdue_task| %>
							<li>
							<% if overdue_task.days_overdue < 7 %>
							<%= link_to overdue_task.task_template.name, project_task_path(@project, overdue_task) %>
							(<%= pluralize(overdue_task.days_overdue, 'days') %> overdue)
							<% else %>
							<%= link_to overdue_task.task_template.name, project_task_path(@project, overdue_task) %>
							(<%= pluralize(overdue_task.weeks_overdue, 'week') %> overdue)
							<% end %>
							</li>
						<% end %>
					</ol>
				<% end %>

				<% unless @project.currently_due_tasks.empty? %>
					<h4>This Week</h4>
					<ol>
						<% @project.currently_due_tasks.each do |currently_due_task| %>
							<li><%= link_to currently_due_task.task_template.name, project_task_path(@project, currently_due_task) %></li>
						<% end %>
					</ol>
				<% end %>
			<% end %>
		</div>
	</div>
</div>