<%= javascript 'tasks.js' %>
<%= stylesheets 'tasks.css' %>

<% if project.has_optional_tasks? %>
<h3>Assigned Tasks</h3>
<%= render 'tasks/assigned_task_list',
            project: project, assigned_tasks: tasks
%>
<h3>Optional Tasks</h3>
<%= render 'tasks/optional_task_list',
			project: project, optional_tasks:  optional_tasks
%>
<% else %>
<%= render 'tasks/assigned_task_list', project: project, assigned_tasks: tasks
%>
<% end %>