<% title "Dashboard" %>

<%= stylesheets 'dashboard.css' %>

<% content_for :sidebar do %>
	<ul class="nav nav-list">
		<li class="nav-header">Dashboard</li>
		<li class="active"><%= link_to 'Home', root_url %></li>
		<% unless @student_projects.empty? %>
			<%= render 'dashboard/student_projects_links', student_projects:  @student_projects, selected_student_project:  nil %>
		<% end %>
		<% unless @staff_units.empty? %>
			<%= render partial: 'dashboard/tutor_projects_links',
				locals: { projects: @staff_units, selected_project: nil }
			%>
		<% end %>
	</ul>
<% end %>
<div class="span9">
	<ul class="breadcrumb">
		<li class="active">
			<%= link_to "Home", root_url %>
		</li>
	</ul>

	<ul class="nav nav-pills">
		<li class="active"><%= link_to "Summary", root_path %></li>
	</ul>
	<div class="row-fluid">
		<% unless @student_projects.empty? %>
			<%= render 'dashboard/student_projects', student_projects: @student_projects %>
		<% end %>
		<% unless @staff_units.empty? %>
			<%= render 'dashboard/tutor_projects', tutor_projects: @staff_units, user: @user %>
		<% end %>
	</div>
</div>