<% javascript 'dashboard.js' %>

<% content_for :sidebar do %>
	<ul class="nav nav-list">
		<li class="nav-header">Dashboard</li>
		<li class="active"><%= link_to 'Home', root_url %></li>
		<% unless @student_projects.empty? %>
			<%= render 'dashboard/student_projects_links', :student_projects => @student_projects, :selected_student_project => nil %>
		<% end %>
		<% unless @tutor_project_templates.empty? %>
			<%= render 'dashboard/tutor_projects_links', :tutor_projects => @tutor_project_templates, :selected_tutor_project => nil %>
		<% end %>
	</ul>
<% end %>

<div class="span10">
	<div class="row-fluid">
		<ul class="nav nav-pills">
			<li class="active"><%= link_to "Summary", root_path %></li>
		</ul>
	</div>
	<div class="span10">
		<div class="row-fluid">
			<% unless @student_projects.empty? %>
				<%= render 'dashboard/student_projects', :student_projects => @student_projects %>
			<% end %>
			<% unless @tutor_project_templates.empty? %>
				<%= render 'dashboard/tutor_projects', :tutor_project_templates => @tutor_project_templates %>
			<% end %>
		</div>
	</div>
</div>