<% stylesheets 'convenor.css' %>
<% javascript 'status_distribution.js' %>
<% content_for :page_banner do %>
  <h1>Convenor Dashboard</h1>  
  <p class="lead"><%= "#{@user.first_name} #{@user.last_name}" %></p>
  <hr />
<% end %>

<% content_for :sidebar do %>
	<%= render :partial => 'layouts/admin_menu' %>
<% end %>

<div class="span9">
	<% @project_templates.each_with_index do |project_template, i| %>
		<% status_distribution = project_template.status_distribution %>

		<% if i % 2 == 0 %>
			<div class="row-fluid">
		<% end %>

			<div class="span6 widget">

				<div class="widget-header">
					<h2><i class="icon-book"></i><%= project_template.name %></h2>
				</div>

				<div class="widget-content">
					<% if status_distribution[:total] > 0 %>
						<div class="row-fluid">
							<%= content_tag "div", class: "status-distribution-chart pull-left", data: {url: project_template_url(project_template)} do %>
								<svg>
									<svg style="width:90px !important; height:90px !important;"></svg>
								</svg>
							<% end %>

							<div class="progress-bands">
								<div class="progress-band ahead">
									<span class="statistical-figure"><%= status_distribution[:ahead].round %>%</span>
									<span class="progress-band-name"><strong>ahead</strong></span>
								</div>
								<div class="progress-band on-track">
									<span class="statistical-figure"><%= status_distribution[:on_track].round %>%</span>
									<span class="progress-band-name"><strong>on track</strong></span>
								</div>
								<div class="progress-band behind">
									<span class="statistical-figure"><%= status_distribution[:behind].round %>%</span>
									<span class="progress-band-name"><strong>behind</strong></span>
								</div>
								<div class="progress-band danger">
									<span class="statistical-figure"><%= status_distribution[:danger].round %>%</span>
									<span class="progress-band-name"><strong>in danger</strong></span>
								</div>
								<div class="progress-band doomed">
									<span class="statistical-figure"><%= status_distribution[:doomed].round %>%</span>
									<span class="progress-band-name"><strong>doomed</strong></span>
								</div>
							</div>
						</div>

						<div class="row-fluid">
							<%= link_to "Go to project", convenor_project_path(project_template), :class => "btn" %>
						</div>
					<% else %>
						<p>This project does not have any members.</p>
						<%= link_to "Set up project", project_template_path(project_template), :class => "btn" %>
					<% end %>
				</div>

				<div class="clear-float"></div>
			</div>

		<% if i % 2 == 1 %>
			</div>
		<% end %>

	<% end %>
</div>