<% stylesheets 'convenor.css' %>
<% javascript 'status_distribution.js' %>
<% content_for :page_banner do %>
  <h1>Convenor Dashboard</h1>  
  <p class="lead"><%= "#{@user.first_name} #{@user.last_name}" %></p>
  <hr />
<% end %>

<% content_for :sidebar do %>
	<%= render :partial => 'layouts/admin_menu' %>
<% end %>

<div class="span9">
	<% @project_templates.each_with_index do |project_template, i| %>
		<% if i % 2 == 0 %>
			<div class="row-fluid">
		<% end %>
			<div class="span6 widget">
				<h2>
					<span class="widget-header">
						<i class="icon-book"></i>
						<%= h(project_template.name) %>
					</span>
				</h2>
				<div class="widget-content">

					<div class="badge badge-important pull-right">
						<%= link_to "#{2+rand(10)} new notifications", convenor_project_path(project_template) %>
					</div>
					
					<%= content_tag "div", class: "status-distribution-chart", data: {url: project_template_url(project_template)} do %>
						<svg style="height: 150px"></svg>
					<% end %>
					
					<%= link_to "Go to project", convenor_project_path(project_template), :class => "btn" %>
				</div>
			</div>
		<% if i % 2 == 1 %>
		</div>
		<% end %>
	<% end %>
</div>