<% stylesheets 'convenor.css' %>
<% javascript 'status_distribution.js' %>

<% title "Convenor Dashboard" %>

<% content_for :sidebar do %>
	<%= render :partial => 'layouts/admin_menu' %>
<% end %>

<div class="span9">
	<% if @project_templates.size < 3 %>
		<% @project_templates.each_with_index do |project_template, i| %>
		<div class="row-fluid">
			<div class="span12 widget">
				<h2><i class="icon-book"></i><%= project_template.name %></h2>
				<div class="widget-content">
					<%= render partial: 'convenor_projects/convenor_project',
						locals: {
							project_template: project_template,
							status_distribution: project_template.status_distribution
						}
					%>
				</div>
			</div>
		</div>
		<% end %>
	<% else %>
		<% @project_templates.each_with_index do |project_template, i| %>
			<% if i % 2 == 0 %>
			<div class="row-fluid">
			<% end %>
				<div class="span6 widget">
					<h2><i class="icon-book"></i><%= project_template.name %></h2>
					<div class="widget-content">
						<%= render partial: 'convenor_projects/convenor_project',
							locals: {
								project_template: project_template,
								status_distribution: project_template.status_distribution
							}
						%>
					</div>
				</div>
			<% if i % 2 == 1 %>
			</div>
			<% end %>
		<% end %>		
	<% end %>
</div>