<% content_for :page_banner do %>
  <h1>5UP3RU53R</h1>  
  <p class="lead">Administration area</p>
  <hr />
<% end %>

<% content_for :sidebar do %>
  <ul class="nav nav-list">
    <li class="nav-header">
      Navigation
    </li>
    <li class="active">
      <%= link_to "Dashboard", root_url %>
    </li>
    <li class="nav-header">
      Administration
    </li>
    <li>
      <%= link_to "Projects", project_templates_path %>
    </li>
    <li>
      <%= link_to "Students", users_path %>
    </li>
  </ul>
<% end %>

<div class="span9">
	<div class="row-fluid">
		<div class="tabbable"> 
			<ul class="nav nav-pills">
				<li class="active"><a href="#project-admin" data-toggle="tab">Project Administration</a></li>
				<li><a href="#user-admin" data-toggle="tab">User Administration</a></li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane active" id="project-admin">
					<%= render "project_admin" %>
				</div>
				<div class="tab-pane" id="user-admin">
					<%= render "user_admin" %>
				</div>
			</div>
		</div>
    </div>
</div>
