<%= render 'layouts/projects_list', :projects => @projects, :selected_project => @project %>
<div class="span10">
	<div class="row-fluid">
		<ul class="nav nav-pills">
			<li><%= link_to "Summary", project_path(@project) %></li>
			<li class="active"><%= link_to "Tasks", project_tasks_path(@project) %></li>
		</ul>
	</div>
	<div class="row-fluid">
		<div class="span6 widget">
			<%= render 'layouts/task_list', :tasks => @project.tasks %>
		</div>
		<div class="span4 widget">
			<h2><i class="icon-bar-chart"></i>Progress</h2>
			<div class="widget-content" id="progress-widget">
				<%= render 'dashboard/project_progress', :project => @project %>
			</div>
		</div>
	</div>
</div>