<%= simple_form_for @task_definition, :html => { :class => 'form-horizontal' } do |f| %>
  <% if @unit.nil? %>
  	<%= f.association :unit, :prompt => "Select a project..." %>
  <% end %>
  <%= f.input :name %>
  <%= f.input :description, :as => :text, :input_html => { :rows => 5 } %>
  <%= f.input :weighting %>
  <%= f.input :required %>

  <%= f.input :target_date, :as => :string, :input_html => {:class => "datepicker", "data-behaviour" => "datepicker", :value => "#{Date.today.strftime('%Y-%m-%d')}"}  %>
    <div class="form-actions">
        <%= f.button :submit %>
    </div>
<% end %>
