<tr id="task-<%= task_definition.id %>-row" class="editable" name="<%= task_definition.id %>">
	<%= simple_form_for task_definition, :url => unit_update_task_path(task_definition.unit_id, task_definition), :remote => true do |f| %>
		<td><%= f.input :name, :as => :text, :label => false %></td>
		<td><%= f.input :abbreviation, :as => :text, :label => false %></td>
		<td><%= f.input :description, :as => :text, :label => false %></td>
		<td><%= f.input :weighting, :label => false %></td>
		<td><%= f.input :required, :label => false %></td>
		<td><%= f.input :target_date, :as => :string, :label => false, :input_html => {:class => "datepicker", "data-behaviour" => "datepicker", :value => "#{task_definition.target_date.strftime('%Y-%m-%d')}"}  %></td>
		<td>
			<%= f.button :submit, "Save", :class => "btn btn-mini btn-success" %>
			<a href="<%= unit_cancel_update_task_path(task_definition.unit_id, task_definition.id) %>" data-remote="true" data-method="get" class="btn btn-mini btn-danger">Cancel</a>
		</td>
	<% end %>
</tr>