<p id="no-tasks-message" <%= "hidden='hidden'" unless task_list.blank? %> ><%= empty_table_string %></p>
<table id="tasks-table" class="table table-striped" <%= "hidden='hidden'" if task_list.blank? %> >
    <thead>
      <tr>
        <th><%= TaskDefinition.human_attribute_name(:name) %></th>
        <th><%= TaskDefinition.human_attribute_name(:abbreviation) %></th>
        <th><%= TaskDefinition.human_attribute_name(:description) %></th>
        <th><%= TaskDefinition.human_attribute_name(:weighting) %></th>
        <th><%= TaskDefinition.human_attribute_name(:required) %></th>
        <th><%= TaskDefinition.human_attribute_name(:target_date) %></th>
        <th><%=t '.actions', default:  t("helpers.actions") %></th>
      </tr>
    </thead>
    <tbody>
      <% unless task_list.blank? %>
        <!-- Rows are rendered as a partial so that they can be re-rendered from JavaScript after editing a row. See "task_definitions/edit.js.erb" and "task_definitions/edit.js.erb". -->
        <% task_list.each do |task_definition| %>
          <%= render partial: 'task_definitions/table_row', locals:  { task_definition:  task_definition } %>
        <% end %>
      <% end %>
    </tbody>
</table>