<div class="widget span12">
  <div class="widget-header">
    <h2><i class="icon-user"></i>Users</h2>
  </div>
  <div class="widget-content">
    <%= render 'users/table',
        users: users, unit: nil, empty_table_string: "There are no users in the system yet."
    %>
    <%= link_to "New user", new_user_path, class:  'btn btn-primary', "data-remote" => true %>

    <hr />

    <div class="well">
      <%= form_tag "users/import", multipart:  true, remote:  true do %>
        <%= file_field(:csv_file, :file) %>
        <%= submit_tag "Import Users from CSV", class:  "btn" %>
      <% end %>
    </div>

	</div>
</div>