<% content_for :sidebar do %>
  <ul class="nav nav-list">
    <li class="nav-header">
      Navigation
    </li>
    <li class="active">
      <%= link_to "Dashboard", root_url %>
    </li>
    <li class="nav-header">
      Administration
    </li>
    <li>
      <%= link_to "Projects", units_path %>
    </li>
    <li>
      <%= link_to "Users", users_path %>
    </li>
  </ul>
<% end %>

<div class="span9">
	<div class="row-fluid">
		<div class="tabbable"> 
			<ul class="nav nav-pills">
        <%= tab_li_tag("project-admin-tab", true) do %>
            <a href="#project-admin-tab" data-toggle="tab">Project Administration</a>
        <% end %>
        <%= tab_li_tag("user-admin-tab") do %>
            <a href="#user-admin-tab" data-toggle="tab">User Administration</a>
        <% end %>
			</ul>
			<div class="tab-content">
				
        <%= tab_div_tag("project-admin-tab", true) do %>
					<%= render "project_admin" %>
				<% end %>

        <%= tab_div_tag("user-admin-tab") do %>
          <%= render "user_admin" %>
        <% end %>

			</div>
		</div>
    </div>
</div>
