<%= stylesheets 'tasks.css' %>

<% content_for :sidebar do %>
	<ul class="nav nav-list">
		<li class="nav-header">Dashboard</li>
		<li class="active"><%= link_to 'Home', root_url %></li>
		<% unless @student_projects.empty? %>
			<%= render 'dashboard/student_projects_links', :student_projects => @student_projects, :selected_student_project => nil %>
		<% end %>
		<% unless @tutor_project_templates.empty? %>
			<%= render 'dashboard/tutor_projects_links', :tutor_projects => @tutor_project_templates, :selected_tutor_project => nil %>
		<% end %>
	</ul>
<% end %>

<div class="span10">
	<div class="row-fluid tabbable">
		<ul class="nav nav-pills">
			<li class="active"><a href="#summary-tab" data-toggle="tab">Summary</a></li>
			<li><a href="#marking-tab" data-toggle="tab">Marking</a></li>
		</ul>
		<div class="tab-content">
			<div class="tab-pane active" id="summary-tab">
				<div class="span7 widget">
					<h2><i class="icon-user"></i><%= @student.full_name %></h2>
					<div class="widget-content">
					</div>
				</div>
			</div>
			<div class="tab-pane" id="marking-tab">
				<div class="span7 widget">
					<h2><i class="icon-pencil"></i>Marks</h2>
					<div class="widget-content">
					<% @student_project.tasks.each do |task| %>
						<div class="task-list-entry">
							<h3 style="display: inline">
								<%= task.task_template.name %>			
							</h3>
							<%= status_badge_for_task task %>
							<div class="task-entry-body" id="task-<%= task.id %>-entry">
								<p><%= link_to task.project.team_membership.user.full_name, tutor_project_student_path(task.project, task.project.team_membership.user) %></p>
								<div class="task-status-controls">
									<a href="<%= update_task_status_path(task, "Needs Fixing") %>" data-method="put" class="task-status-button btn" data-remote="true">
										Mark as Fix
										<i class="icon-wrench"></i>
									</a>
									<a href="<%= update_task_status_path(task, "Complete") %>" data-method="put" class="task-status-button btn btn-success" data-remote="true">
										Mark as Complete
										<i class="icon-ok"></i>
									</a>
								</div>
							</div>
						</div>
					<% end %>
					</div>
				</div>
			</div>
			<div class="span5 widget">
				<h2><i class="icon-bar-chart"></i>Summary</h2>
				<div class="widget-content">
									
				</div>
			</div>
		</div>
	</div>
</div>