<% title "#{@student_project.project_template.name} - #{@student.name} (#{@student.username})" %>

<%= stylesheets 'tasks.css' %>

<% content_for :sidebar do %>
	<ul class="nav nav-list">
		<li class="nav-header">Dashboard</li>
		<li class="active"><%= link_to 'Home', root_url %></li>
		<% unless @student_projects.empty? %>
			<%= render 'dashboard/student_projects_links', :student_projects => @student_projects, :selected_student_project => nil %>
		<% end %>
		<% unless @tutor_project_templates.empty? %>
			<%= render 'dashboard/tutor_projects_links', :tutor_projects => @tutor_project_templates, :selected_tutor_project => nil %>
		<% end %>
	</ul>
<% end %>

<div class="span9">
	<div class="row-fluid tabbable">
		<ul class="nav nav-pills">
			<li class="active"><a href="#tasks-tab" data-toggle="tab">Tasks</a></li>
		</ul>
		<div class="tab-content">
			<div class="tab-pane active" id="tasks-tab">
				<div class="span7 widget">
					<h2><i class="icon-tasks"></i><%= @student.name %></h2>
					<div class="widget-content" id="task-list-widget">
					<%= render 'tutor_projects/tutor_task_backlog', :unmarked_tasks => @student_project.assigned_tasks %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>