<% title "#{@student_project.project_template.name} - #{@student.name} (#{@student.username})" %>

<% stylesheets 'tasks.css' %>
<% stylesheets 'burndown.css' %>
<% javascript 'burndown.js' %>

<% content_for :sidebar do %>
	<ul class="nav nav-list">
		<li class="nav-header">Dashboard</li>
		<li class="active"><%= link_to 'Home', root_url %></li>
		<% unless @student_projects.empty? %>
			<%= render 'dashboard/student_projects_links', :student_projects => @student_projects, :selected_student_project => nil %>
		<% end %>
		<% unless @tutor_project_templates.empty? %>
			<%= render 'dashboard/tutor_projects_links', :tutor_projects => @tutor_project_templates, :selected_tutor_project => nil %>
		<% end %>
	</ul>
<% end %>

<div class="span9">
	<div class="row-fluid tabbable">

		<ul class="breadcrumb">
			<li>
				<%= link_to "Home", root_url %>
				<span class="divider">/</span>
			</li>
			<li>
				<%= link_to @student_project.project_template.name, tutor_project_path(@student_project.project_template) %>
				<span class="divider">/</span>
			</li>
			<li class="active"><%= @student.name %> (<%= @student.username %>)</li>
		</ul>

		<ul class="nav nav-pills">
			<%= tab_li_tag("tasks-tab", true) do %>
                <a href="#tasks-tab" data-toggle="tab">Tasks</a>
            <% end %>
            <%= tab_li_tag("progress-tab") do %>
                <a href="#progress-tab" data-toggle="tab">Progress</a>
            <% end %>
		</ul>
		<div class="tab-content">
			<%= tab_div_tag("tasks-tab", true) do %>
				<div class="span10 widget">
					<h2><i class="icon-tasks"></i><%= @student.name %></h2>
					<div class="widget-content">
					<%= render :partial => 'tutor_projects/tutor_task_backlog', :locals => { :actionable_tasks => @student_project.assigned_tasks} %>
					</div>
				</div>
			<% end %>

			<%= tab_div_tag("progress-tab", true) do %>
				<div class="span12 widget project-overview">
					<h2><i class="icon-book"></i><%= @student_project.project_template.name %></h2>
					<div class="widget-content">
						<%= content_tag "div", class: "burndownchart", data: {url: project_url(@student_project)} do %>
							<svg style="height: 300px"></svg>
						<% end %>
					</div>
				</div>
			<% end %>
		</div>
		
	</div>
</div>