<% title "#{@student_project.unit.name} - #{@student.name} (#{@student.username})" %>

<% stylesheets 'tasks.css' %>
<% stylesheets 'burndown.css' %>
<% javascript 'burndown.js' %>
<% javascript 'tasks.js' %>

<% content_for :sidebar do %>
	<ul class="nav nav-list">
		<li class="nav-header">Dashboard</li>
		<li><%= link_to 'Home', root_url %></li>
		<% unless @student_projects.empty? %>
			<%= render 'dashboard/student_projects_links', student_projects:  @student_projects, selected_student_project:  nil %>
		<% end %>
		<% unless @staff_units.empty? %>
			<%= render 'dashboard/staff_unit_links',
				units: @staff_units, selected_unit: @unit
			%>
		<% end %>
	</ul>
<% end %>

<div class="span9">
	<div class="row-fluid tabbable">

		<ul class="breadcrumb">
			<li>
				<%= link_to "Home", root_url %>
				<span class="divider">/</span>
			</li>
			<li>
				<%= link_to @student_project.unit.name, tutor_project_path(@student_project.unit) %>
				<span class="divider">/</span>
			</li>
			<li class="active"><%= @student.name %> (<%= @student.username %>)</li>
		</ul>

		<ul class="nav nav-pills">
			<%= tab_li_tag("tasks-tab", true) do %>
                <a href="#tasks-tab" data-toggle="tab">Tasks</a>
            <% end %>
            <%= tab_li_tag("progress-tab") do %>
                <a href="#progress-tab" data-toggle="tab">Progress</a>
            <% end %>
		</ul>
		<div class="tab-content">
			<%= tab_div_tag("tasks-tab", true) do %>
				<div class="widget span10">
					<div class="widget-header">
						<h2><i class="icon-tasks"></i><%= @student.name %></h2>
					</div>
					<div class="widget-content">
					<%= render 'shared/assessment/backlog/backlog', actionable_tasks: @student_project.assigned_tasks %>
					</div>
				</div>
			<% end %>

			<%= tab_div_tag("progress-tab") do %>
				<div class="widget project-overview span10">
					<div class="widget-header">
						<h2><i class="icon-book"></i><%= @student_project.unit.name %></h2>
					</div>
					<div class="widget-content">
						<%= content_tag "div", class: "burndownchart", data: {url: project_url(@student_project)} do %>
							<svg style="height: 300px"></svg>
						<% end %>
					</div>
				</div>
			<% end %>
		</div>
		
	</div>
</div>