<p id="no-users-message" <%= "hidden='hidden'" if not user_list.empty? %> ><%= empty_table_string %></p>
<table id="users-table" class="table table-striped" <%= "hidden='hidden'" if user_list.empty? %>>
  <thead>
    <tr>
      <th><%= User.human_attribute_name(:username) %></th>
      <th><%= User.human_attribute_name(:nickname) %></th>
      <th><%= User.human_attribute_name(:email) %></th>
      <th><%= User.human_attribute_name(:first_name) %></th>
      <th><%= User.human_attribute_name(:last_name) %></th>
      <th><%= User.human_attribute_name(:sign_in_count) %></th>
      <th>System role</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <!-- Rows are rendered as a partial so that they can be re-rendered from JavaScript after editing a row. See "users/edit.js.erb" and "users/edit.js.erb". -->
    <% user_list.each do |user| %>
      <%= render :partial => 'users/table_row', :locals => { :user => user, :project_template => project_template } %>
    <% end %>
  </tbody>
</table>