<tr id="user-<%= user.id %>-row">
  <td><%= link_to user.username, user %></td>
  <td><%= user.nickname %></td>
  <td><%= user.email %></td> 
  <td><%= user.first_name %></td>
  <td><%= user.last_name %></td>
  <td><%= user.sign_in_count %></td>
  <td><%= user.system_role %></td>
  <td>
    <% if current_user.admin? %>
      <%= link_to t('.edit', default:  t("helpers.links.edit")),
                edit_user_path(user), 
                "data-remote" => true,
                class:  'btn btn-mini' %>
      <%= link_to t('.destroy', default:  t("helpers.links.destroy")), user_path(user),
                  "data-remote" => true,
                  method:  :delete,
                  data:  { confirm:  t('.confirm', default:  t("helpers.links.confirm", default:  'Are you sure?'))},
                  class:  'btn btn-mini btn-danger' %>
    <% elsif current_user.convenor? %>
      <%= link_to "Remove", unit_remove_user_path(unit.id, user.id),
                  "data-remote" => true,
                  method:  :get,
                  data:  { confirm:  t('.confirm', default:  t("helpers.links.confirm", default:  'Are you sure?'))},
                  class:  'btn btn-mini btn-danger' %>
    <% end %>
  </td>
</tr>