<% title "Users" %>

<% content_for :sidebar do %>
  <ul class="nav nav-list">

    <li class="nav-header">Navigation</li>
    <li><%= link_to "Dashboard", root_url %></li>

    <li class="nav-header">Administration</li>
    <li><%= link_to "Projects", project_templates_path %></li>
    <li class="active"><%= link_to "Users", users_path %></li>
  </ul>
<% end %>

<div class="widget span9">
  <h2><i class="icon-user"></i>Users</h2>
      
  <%- model_class = User.new.class -%>
  <div class="widget-content">
    <table class="table table-striped">
      <thead>
        <tr>
          <th><%= model_class.human_attribute_name(:username) %></th>
          <th><%= model_class.human_attribute_name(:email) %></th>
          <th><%= model_class.human_attribute_name(:first_name) %></th>
          <th><%= model_class.human_attribute_name(:last_name) %></th>
          <th><%= model_class.human_attribute_name(:nickname) %></th>
          <th><%= model_class.human_attribute_name(:sign_in_count) %></th>
          <th>System role</th>
          <th><%=t '.actions', :default => t("helpers.actions") %></th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= link_to user.username, user %></td>
            <td><%= user.email %></td>
            <td><%= user.first_name %></td>
            <td><%= user.last_name %></td>
            <td><%= user.nickname %></td>
            <td><%= user.sign_in_count %></td>
            <td><%= user.system_role %></td>
            <td>
              <%= link_to t('.edit', :default => t("helpers.links.edit")),
                          edit_user_path(user), :class => 'btn btn-mini' %>
              <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                          user_path(user),
                          :method => :delete,
                          :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?'))},
                          :class => 'btn btn-mini btn-danger' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= link_to t('.new', :default => t("helpers.links.new")),
                new_user_path,
                :class => 'btn btn-primary' %>
  </div>
</div>