<div class="span12 widget">
	<h2><i class="icon-group"></i>Teams</h2>
	<div class="widget-content">
		<div class="tabbable">
			<ul class="nav nav-tabs">
				<%= tab_li_tag("your-teams-tab", true) do %>
	                <a href="#your-teams-tab" data-toggle="tab">Your Teams</a>
	            <% end %>
	            <% if !other_teams.empty? %>
					<%= tab_li_tag("other-teams-tab") do %>
		                <a href="#other-teams-tab" data-toggle="tab">Other Teams</a>
		            <% end %>
		        <% end %>
			</ul>

			<div class="tab-content">
				<%= tab_div_tag("your-teams-tab", true) do %>
					<%= render 	partial: 	'tutor_projects/team_task_controls',
								locals: 	{ :teams => tutor_teams } 
					%>
				<% end %>

				<% if !other_teams.empty? %>
					<%= tab_div_tag("other-teams-tab") do %>
						<%= render 	partial: 	'tutor_projects/other_team_task_controls',
									locals:
									{
										initial_other_team: initial_other_team,
										other_teams: other_teams,
										unit: unit
									} 
						%>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
</div>