<%= render 'tutor_projects/task_indicator_controls' %>

<% if tutorials.size > 1 %>
	<div id="tutorial-list-options" class="btn-group" data-toggle="buttons-checkbox">
	<% tutorials.each do |tutorial| %>
		<button class="btn active" id="<%= "tutorial-#{tutorial.id}-toggle" %>">
			<%= "#{tutorial.meeting_day} #{tutorial.meeting_time}" %>
		</button>
	<% end %>
	</div>
<% end %>

<% tutorials.each do |tutorial| %>
	<div class="tutorial-entry" id="tutorial-<%= tutorial.id %>-students">
		<h3><%= tutorial.meeting_day %> <%= tutorial.meeting_time %></h3>
		<%= render 'tutor_projects/tutorial_project_list', tutorial: tutorial %>
	</div>
<% end %>