<%= javascript 'projects.js' %>
<%= stylesheets 'tasks.css' %>

<% unmarked_tasks.each do |task| %>
<div class="task-list-entry row-fluid" id="task-<%= task.id %>-entry">
	<h4>
		<%= link_to truncate(task.task_template.name, :length => 30), project_task_path(task.project, task) %>
	</h4>
	<p class="task-weighting-points">(<%= task.task_template.weighting %> points)</p>
	<p class="toggle-task-description-container"><a href="#" class="toggle-task-description btn"><i class="icon-chevron-down"></i></a></p>
	<p class="task-submission-vs-time"><%= task_submission_vs_time_text(task) %></p>
	<div class="task-status-controls" style="display: inline-block;">
		<div class="btn-group">
			<%= task_status_active_button(task) %>
			<ul class="dropdown-menu">
				<li>
					<a href="<%= update_task_status_path(task, "complete") %>" data-method="put" class="ready-to-mark-button" data-remote="true">Complete <i class="icon-ok button-icon"></i></a>
				</li>
				<li>
					<a href="<%= update_task_status_path(task, "fix") %>" data-method="put" class="ready-to-mark-button" data-remote="true">Fix <i class="icon-wrench button-icon"></i></a>
				</li>
				<li>
					<a href="<%= update_task_status_path(task, "not_submitted") %>" data-method="put" class="ready-to-mark-button" data-remote="true">Not Submitted <i class="icon-minus-sign button-icon"></i></a>
				</li>
			</ul>
		</div>
	</div>
	<div class="task-description">
		<p><%= task.task_template.description != "NULL" ? task.task_template.description : "(No description provided)" %></p>
	</div>
</div>
<% end %>