<%= stylesheets 'tasks.css', 'tutor_projects.css' %>
<%= javascript 'tutor_projects.js' %>
<%= javascript 'tasks.js' %>
<%= javascript "task_popover.js" %>

<% title @unit.name %>

<% content_for :sidebar do %>
	<ul class="nav nav-list">
		<li class="nav-header">Dashboard</li>
		<li><%= link_to 'Home', root_url %></li>
		<% unless @student_projects.empty? %>
			<%=
				render partial: 'dashboard/student_projects_links',
				locals: { student_projects: @student_projects, selected_student_project: @project }
			%>
		<% end %>
		<% unless @staff_projects.empty? %>
			<%= render partial: 'dashboard/tutor_projects_links',
				locals: { projects: @staff_projects, selected_project: @unit }
			%>
		<% end %>
	</ul>
<% end %>

<div class="span9">

	<ul class="breadcrumb">
		<li>
			<%= link_to "Home", root_url %>
			<span class="divider">/</span>
		</li>
		<li class="active"><%= @unit.name %></li>
	</ul>

	<div class="row-fluid tabbable">
		<ul class="nav nav-pills">
			<li class="active"><a href="#tutorials-tab" data-toggle="tab">Tutorials</a></li>
			<li>
				<a href="#awaiting-signoff-tab" data-toggle="tab">
				Awaiting Signoff
				<% unless @actionable_tasks[:awaiting_signoff].empty? %>
					<%= " (#{@actionable_tasks[:awaiting_signoff].values.flatten.size})" %>
				<% end %>
				</a>
			</li>
			<li>
				<a href="#needing-help-tab" data-toggle="tab">
					Needing Help
					<% unless @actionable_tasks[:needing_help].empty? %>
						<%= " (#{@actionable_tasks[:needing_help].values.flatten.size})" %>
					<% end %>
				</a>
			</li>
			<li>
				<a href="#working-on-it-tab" data-toggle="tab">
					Working On It
					<% unless @actionable_tasks[:working_on_it].empty? %>
						<%= " (#{@actionable_tasks[:working_on_it].values.flatten.size})" %>
					<% end %>
				</a>
			</li>
		</ul>

		<div class="tab-content">

			<%= tab_div_tag("tutorials-tab", true) do %>
				<%= render 	partial: 	'tutor_projects/tutorials',
					locals: 
					{
						tutor_tutorials: @tutor_tutorials,
						other_tutorials: @other_tutorials,
						initial_other_tutorial: @initial_other_tutorial,
						unit: @unit
					} 
				%>
			<% end %>

			<%= tab_div_tag("awaiting-signoff-tab") do %>
				<%= render 	partial: 	'shared/assessment/backlog/awaiting_signoff',
					locals: { unmarked_tasks: @actionable_tasks[:awaiting_signoff] } %>
			<% end %>

			<%= tab_div_tag("needing-help-tab") do %>
				<%= render 	partial: 	'shared/assessment/backlog/needing_help',
					locals: { needing_help_tasks: @actionable_tasks[:needing_help] } %>
			<% end %>

			<%= tab_div_tag("working-on-it-tab") do %>
				<%= render 	partial: 	'shared/assessment/backlog/working_on_it',
					locals: { working_on_it_tasks: @actionable_tasks[:working_on_it] } %>
			<% end %>

		</div>
	</div>
</div>