<%= stylesheets 'tasks.css', 'tutor_projects.css' %>
<%= javascript 'tutor_projects.js' %>

<% title @project_template.name %>

<% content_for :sidebar do %>
	<ul class="nav nav-list">
		<li class="nav-header">Dashboard</li>
		<li><%= link_to 'Home', root_url %></li>
		<% unless @student_projects.empty? %>
			<%= render 'dashboard/student_projects_links', :student_projects => @student_projects, :selected_student_project => @project %>
		<% end %>
		<% unless @tutor_project_templates.empty? %>
			<%= render 'dashboard/tutor_projects_links', :tutor_projects => @tutor_project_templates, :selected_tutor_project => @project_template %>
		<% end %>
	</ul>
<% end %>

<div class="span9">

	<ul class="breadcrumb">
		<li>
			<%= link_to "Home", root_url %>
			<span class="divider">/</span>
		</li>
		<li class="active"><%= @project_template.name %></li>
	</ul>

	<div class="row-fluid tabbable">
		<ul class="nav nav-pills">
			<li class="active"><a href="#teams-tab" data-toggle="tab">Teams</a></li>
			<li>
				<a href="#marking-tab" data-toggle="tab">
				Marking
				<% unless @user_unmarked_tasks.values.flatten.empty? %>
					<%= " (#{@user_unmarked_tasks.values.flatten.size})" %>
				<% end %>
				</a>
			</li>
		</ul>
		<div class="tab-content">

			<div class="tab-pane active" id="teams-tab">
				<div class="span12 widget">
					<h2><i class="icon-group"></i>Teams</h2>
					<div class="widget-content">
						
						<div class="tabbable">
							<ul class="nav nav-tabs">
								<li class="active">
									<a href="#your-teams" data-toggle="tab">Your Teams</a>
								</li>
								<li><a href="#other-teams" data-toggle="tab">Other Teams</a></li>
							</ul>

							<div class="tab-content">
								<div class="tab-pane active" id="your-teams">
									<ul id="team-list-options">
									<% @tutor_teams.each do |team| %>
										<li>
											<div class="btn-group" id="<%= "team-#{team.id}-toggle" %>" data-include="true">
												<button class="btn">
													<%= "#{team.meeting_day} #{team.meeting_time}" %>
												</button>
											</div>
										</li>
									<% end %>
									</ul>

									<% @tutor_teams.each do |team| %>
									<div class="team-entry" id="team-<%= team.id %>-students">
										<h3><%= team.meeting_day %> <%= team.meeting_time %></h3>
										<%= render :partial => "tutor_projects/team_project_list", :locals => { :team => team } %>
									</div>
									<% end %>
								</div>

								<div class="tab-pane" id="other-teams">
									<h3>Other Teams</h3>
									<div class="btn-group">
										<a class="btn dropdown-toggle" id="display-other-team-dropdown" data-toggle="dropdown" href="#">
										    <%= "#{@initial_other_team.meeting_day}" %>
											<%= "#{@initial_other_team.meeting_time}" %>
											<%= "(#{@initial_other_team.user.name})" %>
									    	<span class="caret"></span>
									  	</a>
									  	<ul class="dropdown-menu">
									  		<% @other_teams.each do |team| %>
										    <li>
										    	<a href="<%= display_other_team_path(@project_template, team) %>"
										    		id="display-team-<%= team.id %>-students"
										    		class="other-team-selection-item"
										    		data-remote="true"
										    		<% if @initial_other_team == team %>
										    		style="font-weight: bold;"
										    		<% end %>
										    	>
										    		<%= "#{team.meeting_day}" %>
													<%= "#{team.meeting_time}" %>
													<%= "(#{team.user.name})" %>
										    	</a>
											</li>
											<% end %>
									  	</ul>
									</div>

									<div class="team-entry" id="team-<%= @initial_other_team.id %>-students">
										<h3><%= @initial_other_team.meeting_day %> <%= @initial_other_team.meeting_time %> (<%= @initial_other_team.user.name %>)</h3>
										<div class="team-members">
											<%= render :partial => "tutor_projects/team_project_list", :locals => { :team => @initial_other_team } %>
										</div>
									</div>

								</div>
							</div>
						</div>

					</div>
				</div>
			</div>

			<div class="tab-pane" id="marking-tab">
				<div class="span9 widget">
					<h2><i class="icon-tasks"></i>Marking</h2>
					<div class="widget-content" id="task-list-widget">
					<% if @user_unmarked_tasks.empty? %>
						<p>Your marking backlog is currently empty. Great success!</p>
					<% else %>
						<% @user_unmarked_tasks.each do |user, unmarked_tasks| %>
							<h3><%= user.name %> (<%= user.username %>)</h3>
							<%= render 'tutor_projects/tutor_task_backlog', :unmarked_tasks => @unmarked_tasks %>
						<% end %>
					<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>