<%= stylesheets 'tasks.css', 'tutor_projects.css' %>
<%= javascript 'tutor_projects.js' %>

<% title @project_template.name %>

<% content_for :sidebar do %>
	<ul class="nav nav-list">
		<li class="nav-header">Dashboard</li>
		<li><%= link_to 'Home', root_url %></li>
		<% unless @student_projects.empty? %>
			<%= render 'dashboard/student_projects_links', :student_projects => @student_projects, :selected_student_project => @project %>
		<% end %>
		<% unless @tutor_project_templates.empty? %>
			<%= render 'dashboard/tutor_projects_links', :tutor_projects => @tutor_project_templates, :selected_tutor_project => @project_template %>
		<% end %>
	</ul>
<% end %>

<div class="span9">

	<ul class="breadcrumb">
		<li>
			<%= link_to "Home", root_url %>
			<span class="divider">/</span>
		</li>
		<li class="active"><%= @project_template.name %></li>
	</ul>

	<div class="row-fluid tabbable">
		<ul class="nav nav-pills">
			<li class="active"><a href="#teams-tab" data-toggle="tab">Teams</a></li>
			<li><a href="#marking-tab" data-toggle="tab">Marking</a></li>
		</ul>
		<div class="tab-content">

			<div class="tab-pane active" id="teams-tab">
				<div class="span12 widget">
					<h2><i class="icon-group"></i>Teams</h2>
					<div class="widget-content">
						<ul id="team-list-options">
						<% @tutor_teams.each do |team| %>
							<li><%= link_to "#{team.meeting_day} #{team.meeting_time}", root_url, "data-include" => "true", id: "team-#{team.id}-toggle" %></li>
						<% end %>
						</ul>
						<%= render :partial => "tutor_projects/team_project_list", :locals => { :tutor_teams => @tutor_teams } %>
					</div>
				</div>
			</div>

			<div class="tab-pane" id="marking-tab">
				<div class="span9 widget">
					<h2><i class="icon-tasks"></i>Marking</h2>
					<div class="widget-content" id="task-list-widget">
					<% if @user_unmarked_tasks.empty? %>
						<p>Your marking backlog is currently empty. Great success!</p>
					<% else %>
						<% @user_unmarked_tasks.each do |user, unmarked_tasks| %>
							<h3><%= user.name %> (<%= user.username %>)</h3>
							<%= render 'tutor_projects/tutor_task_backlog', :unmarked_tasks => @unmarked_tasks %>
						<% end %>
					<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>