<%= stylesheets 'tasks.css', 'tutor_projects.css' %>
<%= javascript 'tutor_projects.js' %>
<%= javascript 'tasks.js' %>
<%= javascript "task_popover.js" %>

<% title @project_template.name %>

<% content_for :sidebar do %>
	<ul class="nav nav-list">
		<li class="nav-header">Dashboard</li>
		<li><%= link_to 'Home', root_url %></li>
		<% unless @student_projects.empty? %>
			<%=
				render partial: 'dashboard/student_projects_links',
				locals: { student_projects: @student_projects, selected_student_project: @project }
			%>
		<% end %>
		<% unless @tutor_projects.empty? %>
			<%= render partial: 'dashboard/tutor_projects_links',
				locals: { projects: @tutor_projects, selected_project: @project_template }
			%>
		<% end %>
	</ul>
<% end %>

<div class="span9">

	<ul class="breadcrumb">
		<li>
			<%= link_to "Home", root_url %>
			<span class="divider">/</span>
		</li>
		<li class="active"><%= @project_template.name %></li>
	</ul>

	<div class="row-fluid tabbable">
		<ul class="nav nav-pills">
			<li class="active"><a href="#teams-tab" data-toggle="tab">Teams</a></li>
			<li>
				<a href="#awaiting-signoff-tab" data-toggle="tab">
				Awaiting Signoff
				<% unless @user_unmarked_tasks.empty? %>
					<%= " (#{@user_unmarked_tasks.values.flatten.size})" %>
				<% end %>
				</a>
			</li>
			<li>
				<a href="#needing-help-tab" data-toggle="tab">
					Needing Help
					<% unless @user_needing_help_tasks.empty? %>
						<%= " (#{@user_needing_help_tasks.values.flatten.size})" %>
					<% end %>
				</a>
			</li>
			<li>
				<a href="#working-on-it-tab" data-toggle="tab">
					Working On It
					<% unless @user_working_on_it_tasks.empty? %>
						<%= " (#{@user_working_on_it_tasks.values.flatten.size})" %>
					<% end %>
				</a>
			</li>
		</ul>

		<div class="tab-content">

			<%= tab_div_tag("teams-tab", true) do %>
				<div class="span12 widget">
					<h2><i class="icon-group"></i>Teams</h2>
					<div class="widget-content">
						
						<div class="tabbable">
							<ul class="nav nav-tabs">
								<%= tab_li_tag("your-teams-tab", true) do %>
					                <a href="#your-teams-tab" data-toggle="tab">Your Teams</a>
					            <% end %>
								<%= tab_li_tag("other-teams-tab") do %>
					                <a href="#other-teams-tab" data-toggle="tab">Other Teams</a>
					            <% end %>
							</ul>

							<div class="tab-content">

								<%= tab_div_tag("your-teams-tab", true) do %>
									<%= render :partial => "tutor_projects/task_indicator_controls" %>

									<% if @tutor_teams.size > 1 %>
									<div id="team-list-options" class="btn-group" data-toggle="buttons-checkbox">
									<% @tutor_teams.each do |team| %>
										<button class="btn active" id="<%= "team-#{team.id}-toggle" %>">
											<%= "#{team.meeting_day} #{team.meeting_time}" %>
										</button>
									<% end %>
									</div>
									<% end %>

									<% @tutor_teams.each do |team| %>
									<div class="team-entry" id="team-<%= team.id %>-students">
										<h3><%= team.meeting_day %> <%= team.meeting_time %></h3>
										<%= render :partial => "tutor_projects/team_project_list", :locals => { :team => team } %>
									</div>
									<% end %>
								<% end %>

								<%= tab_div_tag("other-teams-tab") do %>
									<%= render :partial => "tutor_projects/task_indicator_controls" %>

									<h3>Other Teams</h3>
									<%= render :partial => "tutor_projects/other_team_dropdown", :locals => { :initial_other_team => @initial_other_team, :other_teams => @other_teams, :project_template => @project_template } %>

									<div id="other-teams-entries">
										<div class="team-entry" id="team-<%= @initial_other_team.id %>-students">
											<h3 id="other-team-header"><%= @initial_other_team.meeting_day %> <%= @initial_other_team.meeting_time %> (<%= @initial_other_team.user.name %>)</h3>
											<div class="team-members">
												<%= render :partial => "tutor_projects/team_project_list", :locals => { :team => @initial_other_team } %>
											</div>
										</div>
									</div>
								<% end %>

							</div>
						</div>

					</div>
				</div>
			<% end %>

			<%= tab_div_tag("awaiting-signoff-tab") do %>
				<div class="span9 widget">
					<h2><i class="icon-thumbs-up"></i>Awaiting Signoff</h2>
					<div class="widget-content">
					<% if @user_unmarked_tasks.empty? %>
						<p>Your marking backlog is currently empty. Great success!</p>
					<% else %>
						<% @user_unmarked_tasks.each do |user, unmarked_tasks| %>
							<h3><%= user.name %> (<%= user.username %>)</h3>
							<%= render 'tutor_projects/tutor_task_backlog', :actionable_tasks => unmarked_tasks %>
						<% end %>
					<% end %>
					</div>
				</div>
			<% end %>

			<%= tab_div_tag("needing-help-tab") do %>
				<div class="span9 widget">
					<h2><i class="icon-exclamation-sign"></i>Needing Help</h2>
					<div class="widget-content">
					<% if @user_needing_help_tasks.empty? %>
						<p>There is no one currently in need of help with any tasks. Feet up and scotch rocks!</p>
					<% else %>
						<% @user_needing_help_tasks.each do |user, needing_help_tasks| %>
							<h3><%= user.name %> (<%= user.username %>)</h3>
							<%= render :partial => 'tutor_projects/tutor_task_backlog', :locals => {:actionable_tasks => needing_help_tasks} %>
						<% end %>
					<% end %>
					</div>
				</div>
			<% end %>

			<%= tab_div_tag("working-on-it-tab") do %>
				<div class="span9 widget">
					<h2><i class="icon-bolt"></i>Working On It</h2>
					<div class="widget-content">
					<% if @user_working_on_it_tasks.empty? %>
						<p>There is no one currently no one working on tasks. Son, I am disappoint.</p>
					<% else %>
						<% @user_working_on_it_tasks.each do |user, working_on_it_tasks| %>
							<h3><%= user.name %> (<%= user.username %>)</h3>
							<%= render :partial => 'tutor_projects/tutor_task_backlog', :locals => { :actionable_tasks => working_on_it_tasks} %>
						<% end %>
					<% end %>
					</div>
				</div>
			<% end %>

		</div>
	</div>
</div>