 <p id="no-tutorials-message" <%= "hidden='hidden'" if not tutorial_list.empty? %> >This project has no tutorials.</p>
 <table id="tutorials-table" class="table table-striped" <%= "hidden='hidden'" if tutorial_list.empty? %> >
  <thead>
    <tr>
      <th>Manager</th>
      <th><%= Tutorial.human_attribute_name(:meeting_day) %></th>
      <th><%= Tutorial.human_attribute_name(:meeting_time) %></th>
      <th><%= Tutorial.human_attribute_name(:meeting_location) %></th>
      <th><%=t '.actions', default:  t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <!-- Rows are rendered as a partial so that they can be re-rendered from JavaScript after editing a row. See "tutorials/edit.js.erb" and "tutorials/edit.js.erb". -->
    <% tutorial_list.each do |tutorial| %>
      <%= render 'tutorials/table_row', tutorial: tutorial %>
    <% end %>
  </tbody>
</table>