 <tr id="tutorial-<%= tutorial.id %>-row">
  <td><%= link_to(tutorial.tutor.name, tutorial.tutor) %></td>
  <td><%= tutorial.meeting_day %></td>
  <td><%= tutorial.meeting_time %></td>
  <td><%= tutorial.meeting_location %></td>
  <td>
    <%= link_to t('.edit', :default => t("helpers.links.edit")), edit_tutorial_path(tutorial), :class => 'btn btn-mini', "data-remote" => true %>
    <%= link_to t('.destroy', :default => t("helpers.links.destroy")), tutorial_path(tutorial),
                "data-remote" => true,
                :method => :delete,
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?'))},
                :class => 'btn btn-mini btn-danger' %>
  </td>
</tr>