<div class="widget span12">
  <div class="widget-header">
    <h2><i class="icon-group"></i>
      <%= tutorial.meeting_day %>
      <%= tutorial.meeting_time %>
      (<%= tutorial.tutor.name %>)
    </h2>
  </div>
  <div class="widget-content" style="padding-top: 30px;">
    <%= render 'units/task_indicator_controls', tutorial: tutorial %>
    <%= render 'units/tutorial_project_list', tutorial: tutorial %>
  </div>
</div>