<%= stylesheets 'tasks.css', 'tutorials.css' %>

<%= javascript 'tutorials.js' %>
<%= javascript 'tasks.js' %>
<%= javascript "task_popover.js" %>

<% title "#{@tutorial.unit.name} - #{@tutorial.name}" %>

<% content_for :sidebar do %>
    <ul class="nav nav-list">
        <li class="nav-header">Dashboard</li>
        <li><%= link_to 'Home', root_url %></li>
        <% unless @staff_units.empty? %>
            <%= render 'dashboard/staff_unit_links',
                units: @staff_units,
                selected_unit: @tutorial.unit
            %>
        <% end %>
    </ul>
<% end %>

<div class="span9">
  <div class="row-fluid">
    <ul class="breadcrumb">
      <li>
        <%= link_to "Home", root_url %>
        <span class="divider">/</span>
      </li>
      <li>
        <%= link_to @tutorial.unit.name, unit_path(@tutorial.unit) %>
        <span class="divider">/</span>
      </li>
      <li class="active"><%= @tutorial.name %></li>
    </ul>

    <div class="tabbable">
        <ul class="nav nav-pills">
            <%= tab_li_tag("progress-tab", true) do %>
                <a href="#progress-tab" data-toggle="tab">Progress</a>
            <% end %>
            <%= tab_li_tag("assessment-backlog-tab") do %>
                <a href="#assessment-backlog-tab" data-toggle="tab">Assessment Backlog</a>
            <% end %>
        </ul>

        <div class="tab-content">
            <%= tab_div_tag("progress-tab", true) do %>
                <%= render 'tutorial_widget', tutorial: @tutorial %>
            <% end %>

            <%= tab_div_tag("assessment-backlog-tab") do %>
                <%= render 'units/assessment_backlog_widget', actionable_tasks: @actionable_tasks %>
            <% end %>
        </div>
    </div>
  </div>
</div>