<!DOCTYPE html>
<html>
<head>
  <style type="text/css">
    body {
      font-family: "Lucida Grande", "Helvetica Neue", Helvetica, Arial, sans-serif;
      color: #333;
      font-size: 14px;
      width: 500px;
      margin: 100px auto 0px auto;
      font-size: 0.9em;
    }
    main {
      background-image: url('https://<%= @doubtfire_host %>/assets/images/logo.svg');
      background-size: 3.5em;
      background-repeat: no-repeat;
      background-position: 30px 45px;
      padding: 30px 40px;
      padding-left: 100px;
      border: solid 1px #aaa;
      border-radius: 7px;
      line-height: 200%;
      text-align: justify;
    }
    footer {
      text-align: right;
      margin-top: 10px;
      color: #aaa;
      font-size: 0.7em;
    }
    a, a:visited {
      color: #6a97d2;
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
    }
    ul {
      list-style: none;
    }
    h1 {
      font-size: 1.1em;
    }
  </style>
</head>
<body>
  <main>
    <h1> <%= @doubtfire_product_name %> Notification </h1>
    <p>Hi <%= @student.first_name %>,</p>
    <p>
        I have checked your tasks and provided some feedback. Login and check the status <%= @hasComments ? 'and comments' : ''%> of the following tasks:
        <ul>
            <% @tasks.each do |task| %>
            <li>
                <strong><%= task.task_definition.abbreviation %> - </strong>
                <a href="https://<%= @doubtfire_host %>/#/projects/<%=@project.id%>/dashboard/<%=task.task_definition.abbreviation%>">
                    <%=task.task_definition.name%>
                </a>
                <%= task.is_last_comment_by?(@tutor) ? ' with comments' : ''%>
            </li>
            <% end %>
        </ul>
    </p>
    <p>
        Cheers, <br />
        The <%= @doubtfire_product_name %> Team on behalf of <%= @tutor.name %>
    </p>
  </main>
  <footer>
    <a href="<%= @unsubscribe_url %>">Unsubscribe</a> | Generated with <%= @doubtfire_product_name %>
  </footer>
</body>
</html>
