<% stylesheets 'dashboard.css' %>
<% stylesheets 'tasks.css' %>
<% javascript 'dashboard.js' %>

<%= render 'layouts/projects_list', :projects => @projects, :selected_project => @project %>
<div class="span10">
	<div class="row-fluid tabbable">
		<ul class="nav nav-pills">
			<li class="active"><a href="#summary-tab" data-toggle="tab">Summary</a></li>
			<li><a href="#tasks-tab" data-toggle="tab">Tasks</a></li>
		</ul>
		<div class="tab-content">
			<div class="tab-pane active" id="summary-tab">
				<div class="span7 widget">
					<%= render 'layouts/activity_stream' %>
				</div>
				<div class="span5 widget">
					<h2>Progress</h2>
					<div class="widget-content" id="progress-widget">
						<%= render 'dashboard/project_progress', :project => @project %>
					</div>
				</div>
			</div>

			<div class="tab-pane" id="tasks-tab">
				<div class="span7 widget">
					<%= render 'layouts/task_list', :tasks => @project.tasks %>
				</div>
				<div class="span5 widget">
					<h2>Progress</h2>
					<div class="widget-content" id="progress-widget">
						<%= render 'dashboard/project_progress', :project => @project %>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- <div class="row-fluid">
		
	</div> -->
</div>