<% title "#{@project.project_template.name}" %>

<% stylesheets 'tasks.css' %>

<% content_for :sidebar do %>
	<ul class="nav nav-list">
		<li class="nav-header">Dashboard</li>
		<li><%= link_to 'Home', root_url %></li>
		<% unless @student_projects.empty? %>
			<%= render 'dashboard/student_projects_links', :student_projects => @student_projects, :selected_student_project => @project %>
		<% end %>
	</ul>
<% end %>

<div class="span9">
	<ul class="breadcrumb">
		<li>
			<%= link_to "Home", root_url %>
			<span class="divider">/</span>
		</li>
		<li class="active"><%= @project.project_template.name %></li>
	</ul>
	
	<ul class="nav nav-pills">
		<%= tab_li_tag("summary-tab", true) do %>
            <a href="#summary-tab" data-toggle="tab">Summary</a>
        <% end %>
        <%= tab_li_tag("tasks-tab") do %>
            <a href="#tasks-tab" data-toggle="tab">Tasks</a>
        <% end %>
        <%= tab_li_tag("team-tab") do %>
            <a href="#team-tab" data-toggle="tab">Tutorials</a>
        <% end %>
	</ul>

	<div class="tab-content">
		<%= tab_div_tag("summary-tab", true) do %>
			<div class="span7 widget">
				<h2><i class="icon-bar-chart"></i>Progress</h2>
				<div class="widget-content" id="progress-widget">
					<%= render 'dashboard/project_progress', :project => @project %>
				</div>
			</div>

			<div class="span5 widget" id="task-highlights-widget">
				<%= render 'dashboard/task_highlights', :project => @project %>
			</div>
		<% end %>

		<%= tab_div_tag("tasks-tab") do %>
			<div class="span9 widget">
				<%= render 'dashboard/task_list', :tasks => @project.assigned_tasks %>
			</div>
		<% end %>

		<%= tab_div_tag("team-tab") do %>
			<div class="span7 widget">
				<%= render 'dashboard/team_allocation', :project => @project, :team_membership => @project.team_membership %>
			</div>
			<div class="span5 widget">
				<%= render 'dashboard/project_team_list', :project_teams => @project.project_template.teams %>
			</div>
		<% end %>
	</div>
</div>