<% stylesheets 'tasks.css' %>

<% content_for :sidebar do %>
	<ul class="nav nav-list">
		<li class="nav-header">Dashboard</li>
		<li><%= link_to 'Home', root_url %></li>
		<% unless @student_projects.empty? %>
			<%= render 'dashboard/student_projects_links', :student_projects => @student_projects, :selected_student_project => @project %>
		<% end %>
	</ul>
<% end %>

<div class="span9">
	<div class="row-fluid tabbable">
		<ul class="nav nav-pills">
			<li class="active"><a href="#summary-tab" data-toggle="tab">Summary</a></li>
			<li><a href="#tasks-tab" data-toggle="tab">Tasks</a></li>
		</ul>
		<div class="tab-content">
			<div class="tab-pane active" id="summary-tab">
				<div class="span7 widget">
					<%= render 'layouts/activity_stream' %>
				</div>
			</div>

			<div class="tab-pane" id="tasks-tab">
				<div class="span7 widget">
					<%= render 'layouts/task_list', :tasks => @project.tasks %>
				</div>
			</div>
			<div class="span5 widget">
				<h2><i class="icon-bar-chart"></i>Progress</h2>
				<div class="widget-content" id="progress-widget">
					<%= render 'dashboard/project_progress', :project => @project %>
				</div>
			</div>
		</div>
	</div>
</div>