<% title "#{@project.unit.name}" %>

<% stylesheets 'tasks.css' %>

<% content_for :sidebar do %>
	<ul class="nav nav-list">
		<li class="nav-header">Dashboard</li>
		<li><%= link_to 'Home', root_url %></li>
		<% unless @student_projects.empty? %>
			<%=
				render partial: 'dashboard/student_projects_links',
				locals: {
					student_projects: @student_projects,
					selected_student_project: @project
				}
			%>
		<% end %>
	</ul>
<% end %>

<div class="span9">
	<ul class="breadcrumb">
		<li>
			<%= link_to "Home", root_url %>
			<span class="divider">/</span>
		</li>
		<li class="active">
			<%= @project.unit.name %>
			<% if @project.user != current_user %>
			(<%= @project.user.name %> &mdash; <%= @project.user.username %>)
			<% end %>
		</li>
	</ul>
	
	<ul class="nav nav-pills">
		<%= tab_li_tag("summary-tab", true) do %>
            <a href="#summary-tab" data-toggle="tab">Summary</a>
        <% end %>
        <%= tab_li_tag("tasks-tab") do %>
            <a href="#tasks-tab" data-toggle="tab">Tasks</a>
        <% end %>
        <%= tab_li_tag("team-tab") do %>
            <a href="#team-tab" data-toggle="tab">Tutorials</a>
        <% end %>
	</ul>

	<div class="tab-content">
		<%= tab_div_tag("summary-tab", true) do %>
			<div class="span7 widget">
				<h2>
					<i class="icon-bar-chart"></i>Progress
					<% if @project.user != current_user %>
					(<%= @project.user.name %> &mdash; <%= @project.user.username %>)
					<% end %>
				</h2>
				<div class="widget-content" id="progress-widget">
					<%= render partial: 'dashboard/project_progress', locals: { project: @project } %>
				</div>
			</div>

			<div class="span5 widget" id="task-highlights-widget">
				<%= render partial: 'dashboard/task_highlights', locals: { project: @project } %>
			</div>
		<% end %>

		<%= tab_div_tag("tasks-tab") do %>
			<div class="span9 widget">
				<h2>
					<i class="icon-tasks"></i>Tasks
					<% if @project.user != current_user %>
					(<%= @project.user.name %> &mdash; <%= @project.user.username %>)
					<% end %>
				</h2>
				<div class="widget-content">
					<%= 
						render partial: 'dashboard/task_list',
						locals: { tasks: @project.assigned_tasks }
					%>
				</div>
			</div>
		<% end %>

		<%= tab_div_tag("team-tab") do %>
			<div class="span7 widget">
				<h2>
					<i class="icon-group"></i>Your Tutorial Allocation
					<% if @project.user != current_user %>
					(<%= @project.user.name %> &mdash; <%= @project.user.username %>)
					<% end %>
				</h2>
				<div class="widget-content">
					<%= 
						render partial: 'dashboard/team_allocation',
						locals: {
							project: @project,
							unit_role: @project.unit_role
						}
					%>
				</div>
			</div>
			<div class="span5 widget">
				<h2><i class="icon-group"></i>Available Tutorials</h2>
				<div class="widget-content">
					<%= render partial: 'dashboard/project_team_list',
						locals: { project_teams: @project.unit.teams }
					%>
				</div>
			</div>
		<% end %>
	</div>
</div>