<%- model_class = User.new.class -%>
<h2>Students</h2>
<div class="widget-content" id="users-table">
	<%= paginate @project_users %>

	<table class="table table-striped">
		<thead>
			<tr>
				<th><%= model_class.human_attribute_name(:username) %></th>
				<th><%= model_class.human_attribute_name(:first_name) %></th>
				<th><%= model_class.human_attribute_name(:last_name) %></th>
				<th><%= model_class.human_attribute_name(:progress) %></th>
				<th><%= model_class.human_attribute_name(:tasks_completed) %></th>
				<th><%= model_class.human_attribute_name(:completion_rate) %></th>
			</tr>
		</thead>
		<tbody>
			<% @project_users.each do |user| # @TODO: Change this to current filter %>
				<% user_project = user.team_memberships.select{|tm| tm.project.project_template_id == @project_template.id }.first.project %>
				<tr>
					<td><%= link_to user.username, user %></td>
					<td><%= user.first_name %></td>
					<td><%= user.last_name %></td>
					<td><%= user_project.relative_progress.to_s.titleize %></td>
					<td><%= user_project.completed_tasks.size %> / <%= @project_template.task_templates.size %></td>
					<td><%= user_project.rate_of_completion %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>