<tr id="task-<%= task_template.id %>-row" class="editable" name="<%= task_template.id %>">
	<%= simple_form_for task_template, :url => update_project_task_path(task_template.project_template_id, task_template), :remote => true do |f| %>
		<td><%= f.input :name, :as => :text, :label => false %></td>
		<td><%= f.input :abbreviation, :as => :text, :label => false %></td>
		<td><%= f.input :description, :as => :text, :label => false %></td>
		<td><%= f.input :weighting, :label => false %></td>
		<td><%= f.input :required, :label => false %></td>
		<td><%= f.input :target_date, :as => :string, :label => false, :input_html => {:class => "datepicker", "data-behaviour" => "datepicker", :value => "#{task_template.target_date.strftime('%Y-%m-%d')}"}  %></td>
		<td>
			<%= f.button :submit, "Save", :class => "btn btn-mini btn-success" %>
			<a href="<%= cancel_update_project_task_path(task_template.project_template_id, task_template.id) %>" data-remote="true" data-method="get" class="btn btn-mini btn-danger">Cancel</a>
		</td>
	<% end %>
</tr>