<tr id="task-<%= task_template.id %>-row">
  <td><%= link_to task_template.name, task_template_path(task_template) %></td>
  <td><%= task_template.description %></td>
  <td><%= task_template.weighting %></td>
  <td><%= "Required" if task_template.required %><%= "Optional" if not task_template.required %></td>
  <td><%= task_template.target_date.strftime("%d %B %Y") %></td>
  <td>
    <%= link_to t('.edit', :default => t("helpers.links.edit")), edit_task_template_path(task_template), "data-remote" => true, :class => 'btn btn-mini' %>
    <%= link_to t('.destroy', :default => t("helpers.links.destroy")), task_template_path(task_template),
                "data-remote" => true,
                :method => :delete,
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?'))},
                :class => 'btn btn-mini btn-danger' %>
  </td>
</tr>