<p id="no-tasks-message" <%= "hidden='hidden'" unless task_list.blank? %> ><%= empty_table_string %></p>
<table id="tasks-table" class="table table-striped" <%= "hidden='hidden'" if task_list.blank? %> >
    <thead>
      <tr>
        <th><%= TaskTemplate.human_attribute_name(:name) %></th>
        <th><%= TaskTemplate.human_attribute_name(:description) %></th>
        <th><%= TaskTemplate.human_attribute_name(:weighting) %></th>
        <th><%= TaskTemplate.human_attribute_name(:required) %></th>
        <th><%= TaskTemplate.human_attribute_name(:target_date) %></th>
        <th><%=t '.actions', :default => t("helpers.actions") %></th>
      </tr>
    </thead>
    <tbody>
      <% unless task_list.blank? %>
        <!-- Rows are rendered as a partial so that they can be re-rendered from JavaScript after editing a row. See "task_templates/edit.js.erb" and "task_templates/edit.js.erb". -->
        <% task_list.each do |task_template| %>
          <%= render :partial => 'task_templates/table_row', :locals => { :task_template => task_template } %>
        <% end %>
      <% end %>
    </tbody>
</table>