<% stylesheets 'users.css' %>
<div class="login-container">
  <div class="content">
    <h2>Sign In</h2>
    <p>Sign in using your SIMS account:</p>
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
      <div>
      <%= f.text_field :username, "value placeholder" => "Username", :id => "username-field" %></div>

      <div>
      <%= f.password_field :password, "value placeholder" => "Password", :id => "password-field" %></div>

      <div class="login-actions">
      <% if devise_mapping.rememberable? -%>
        <span class="login-checkbox">
          <%= f.check_box :remember_me %>
          <%= f.label "Keep me signed in" %>
        </span>  
      <% end -%>
        <%= f.submit "Sign in", :class => "btn" %>
      </div>
    <% end %>
  </div>
</div>