<%= simple_form_for @project_template, html: { class: 'well form-horizontal' } do |f| %>
	<%= f.input :name, :as => :text %>
	<%= f.input :description, :as => :text %>
      
	<%= select_tag :convenors, options_from_collection_for_select(@all_convenors, :id, :name, @project_convenors.collect { |u| u.id} ), :multiple => true %>
    <%= f.input :start_date, :as => :string, :input_html => {:class => "datepicker", "data-behaviour" => "datepicker", :value => "#{@project_template.start_date.strftime('%Y-%m-%d')}"} %>
	<%= f.input :end_date, :as => :string, :input_html => {:class => "datepicker", "data-behaviour" => "datepicker", :value => "#{@project_template.end_date.strftime('%Y-%m-%d')}"} %>
	<%= @project_template.created_at.strftime("%d %b %Y at %I:%M%p") %>
	<%= f.button :submit, "Save", :class => "btn btn-mini btn-success" %>
		<a href="<%= cancel_update_project_template_path(@project_template.id) %>" data-remote="true" data-method="get" class="btn btn-mini btn-danger">Cancel</a>
<% end %>