<tr id="project-<%= project_template.id %>-row" class="editable" name="<%= project_template.id %>">
	<%= simple_form_for project_template, :url => update_project_template_path(project_template), :remote => true do |f| %>
  		<td><%= f.input :name, :as => :text, :label => false, :input_html => {:class => "table-input-name"} %></td>
  		<td><%= f.input :description, :as => :text, :label => false, :input_html => {:class => "table-input-description"} %></td>
      <td>
        <%= select_tag :convenors, options_from_collection_for_select(@all_convenors, :id, :name, @project_convenors.collect { |u| u.id} ), :multiple => true %>
      </td>
  		<td><%= f.input :start_date, :as => :string, :label => false, :input_html => {:class => "datepicker", "data-behaviour" => "datepicker", :value => "#{project_template.start_date.strftime('%Y-%m-%d')}"} %></td>
  		<td><%= f.input :end_date, :as => :string, :label => false, :input_html => {:class => "datepicker", "data-behaviour" => "datepicker", :value => "#{project_template.end_date.strftime('%Y-%m-%d')}"} %></td>
  		<td><%= project_template.created_at.strftime("%d %b %Y at %I:%M%p") %></td>
  		<td>
  			<%= f.button :submit, "Save", :class => "btn btn-mini btn-success" %>
  			<a href="<%= cancel_update_project_template_path(project_template.id) %>" data-remote="true" data-method="get" class="btn btn-mini btn-danger">Cancel</a>
  		</td>
  	<% end %>
</tr>