<h2><i class="icon-group"></i>Teams</h2>
<div class="widget-content">
    <%= render :partial => 'teams/table', locals: {
        team_list: project_teams,
        empty_table_string: "This project has no teams."
    } %>
    <hr />
    <%= link_to "Create new team", project_template_new_project_team_path(project_template), :class => 'btn', "data-remote" => true %>
    <hr />
    <div class="well">
    <%= form_tag "#{project_template.id}/import_teams", :multipart => true, :remote => true do %>
        <%= file_field(:csv_file, :file) %>
        <%= submit_tag "Import Teams from CSV", :class => "btn" %>
    <% end %>
    </div>
</div>