<% content_for :page_banner do %>
  <h1>Convenor Dashboard</h1>  
  <p class="lead"><%= "#{@user.first_name} #{@user.last_name}" %></p>
  <hr />
<% end %>

<% content_for :sidebar do %>
  <ul class="nav nav-list">
    <li class="nav-header">
      Navigation
    </li>
    <li>
      <%= link_to "Dashboard", root_url %>
    </li>
    <li class="nav-header">
      Administration
    </li>
    <li class="active">
      <%= link_to "Projects", project_templates_path %>
    </li>
    <li>
      <%= link_to "Students", users_path %>
    </li>
  </ul>
<% end %>

<div class="span9">
  <div class="widget">
    <h2>
        Project Templates
    </h2>
    <div class="widget-content">
      <%= render :partial => 'project_templates/table', :locals => { :project_templates => @project_templates,
                                                                     :empty_table_string => "You do not have any current projects." } %>
      <hr />
      <%= link_to "New project", new_project_template_path, :class => 'btn btn-primary', "data-remote" => true %>
    </div>
  </div>
</div>