<% content_for :page_banner do %>
  <h1><%= @project_template.name %></h1>  
  <p class="lead">Project administration</p>
  <hr />
<% end %>

<!-- Sidebar -->
<% content_for :sidebar do %>
  <% if current_user.superuser? %>
    <%= render :partial => 'layouts/superuser_menu' %>
  <% else %>
    <%= render :partial => 'layouts/admin_menu' %>
  <% end %>
<% end %>

<div class="span9">
  <!-- Information about the current project -->
  <div class="widget">
    <h2><i class="icon-book"></i>Information</h2>
    <div class="widget-content">
      <dl class="dl-horizontal">
        <dt><strong><%= ProjectTemplate.human_attribute_name(:name) %>:</strong></dt>
        <dd><%= @project_template.name %></dd>
        <dt><strong><%= ProjectTemplate.human_attribute_name(:description) %>:</strong></dt>
        <dd><%= @project_template.description %></dd>
        <dt><strong><%= ProjectTemplate.human_attribute_name(:start_date) %>:</strong></dt>
        <dd><%= @project_template.start_date.strftime("%d %B %Y") %></dd>
        <dt><strong><%= ProjectTemplate.human_attribute_name(:end_date) %>:</strong></dt>
        <dd><%= @project_template.end_date.strftime("%d %B %Y") %></dd>
      </dl>
      <hr />
      <%= link_to t('.edit', :default => t("helpers.links.edit")), edit_project_template_path(@project_template), :class => 'btn' %>
    </div>
  </div>

  <!-- Table of tasks for the current project -->
  <div class="widget">
    <h2><i class="icon-pencil"></i>Tasks</h2>
    <div class="widget-content">
      <%= render :partial => 'task_templates/table', :locals => { :task_list => @project_tasks, 
                                                                  :empty_table_string => "This project has no tasks."} %>
      <hr />
      <span id="task-buttons">
        <%= link_to "Create new task", new_project_task_path(@project_template), :onclick => "$('#destroy-tasks-button').show()", :class => 'btn', "data-remote" => true %>

        <% if @project_template.task_templates.empty? %>
        <%= link_to "Destroy all tasks", destroy_all_project_tasks_path(@project_template), 
                    :class => 'btn btn-danger', 
                    :id => 'destroy-tasks-button',
                    "data-remote" => true,
                    :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'All tasks (including instances assigned to users) will be destroyed. Are you sure?')), :style => "display: none;" %>
        <% else %>
        <%= link_to "Destroy all tasks", destroy_all_project_tasks_path(@project_template), 
                    :class => 'btn btn-danger', 
                    :id => 'destroy-tasks-button',
                    "data-remote" => true,
                    :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'All tasks (including instances assigned to users) will be destroyed. Are you sure?')) %>
        <% end %>
      </span>
      <hr />
      <div class="well">
        <%= form_tag "#{@project_template.id}/import_tasks", :multipart => true, :remote => true do %>
          <%= file_field(:csv_file, :file) %>
          <%= submit_tag "Import Tasks from CSV", :class => "btn" %>
        <% end %>
        <%= link_to "Download Import Template", task_import_template_path %>
      </div>
    </div>
  </div>

  <!-- Table of teams for the current project -->
  <div class="widget">
    <h2><i class="icon-group"></i>Teams</h2>
    <div class="widget-content">
      <%= render :partial => 'teams/table', :locals => { :team_list => @project_teams,
                                                         :empty_table_string => "This project has no teams."} %>
      <hr />
      <%= link_to "Create new team", new_project_team_path(@project_template), :class => 'btn', "data-remote" => true %>
      <hr />
      <div class="well">
        <%= form_tag "#{@project_template.id}/import_teams", :multipart => true, :remote => true do %>
          <%= file_field(:csv_file, :file) %>
          <%= submit_tag "Import Teams from CSV", :class => "btn" %>
        <% end %>
      </div>
    </div>
  </div>

  <!-- Table of users for the current project -->
  <div class="widget">
    <h2><i class="icon-user"></i>Users</h2>
    <div class="widget-content">
      <%= render :partial => 'users/table', :locals => { :user_list => @project_users,
                                                         :empty_table_string => "This project has no users.",
                                                         :project_template => @project_template } %>
      <hr />
      <div class="well">
        <%= form_tag "#{@project_template.id}/import_users", :multipart => true, :remote => true do %>
          <%= file_field(:csv_file, :file) %>
          <%= submit_tag "Import Users from CSV", :class => "btn" %>
        <% end %>
      </div>
    </div>
  </div>

  <!-- Action buttons (back, destroy) -->
  <div class="widget">
    <div class="widget-content">
    <%= link_to "Back to projects list", project_templates_path, :class => 'btn' %>
    <%= link_to "Destroy project",
                project_template_path(@project_template),
                :method => 'delete',
                :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'This project will be completely obliterated! Are you sure?')),
                :class => 'btn btn-danger' %>
    </div>
  </div>
</div>
