<% title "Project Template - #{@project_template.name}" %>

<!-- Sidebar -->
<% content_for :sidebar do %>
    <% if current_user.superuser? %>
        <%= render :partial => 'layouts/superuser_menu' %>
    <% else %>
        <%= render :partial => 'layouts/admin_menu' %>
    <% end %>
<% end %>

<div class="span9">
    <ul class="breadcrumb">
        <li>
            <%= link_to "Home", root_url %>
            <span class="divider">/</span>
        </li>
        <li>
            <%= link_to "Project Templates", project_templates_url %>
            <span class="divider">/</span>
        </li>
        <li class="active"><%= @project_template.name %> (Adminstration)</li>
    </ul>

    <div class="tabbable"> 
        <ul class="nav nav-pills">
            <li><a href="#summary" data-toggle="tab">Summary</a></li>
            <li class="active"><a href="#tasks" data-toggle="tab">Tasks</a></li>
            <li><a href="#teams" data-toggle="tab">Teams</a></li>
            <li><a href="#participants" data-toggle="tab">Participants</a></li>
        </ul>
        <div class="tab-content">
            <!-- Information about the current project -->
            <div class="tab-pane widget" id="summary">
                <%= render :partial => 'summary_information', locals: {project_template: @project_template} %>
            </div>
            
            <!-- Table of tasks for the current project -->
            <div class="tab-pane active widget" id="tasks">
                <%= render :partial => 'tasks', locals: {project_template: @project_template, task_templates: @project_tasks} %>
            </div>

            <!-- Table of teams for the current project -->
            <div class="tab-pane widget" id="teams">
                <%= render :partial => 'teams', locals: {project_template: @project_template, project_teams: @project_teams} %>
            </div>

            <!-- Table of users for the current project -->
            <div class="tab-pane widget" id="participants">
                <%= render :partial => 'participants', locals: {project_template: @project_template, participants: @project_users} %>
            </div>
        </div>
    </div>
</div>
