<div class="widget span12">
	<div class="widget-header">
		<h2><i class="icon-group"></i>
			Assessment Backlog
		</h2>
	</div>
	<div class="widget-content">
		<div class="tabbable">
			<ul class="nav nav-tabs">
				<li class="active">
					<a href="#awaiting-signoff-tab" data-toggle="tab">
						<i class="icon-thumbs-up"></i>
						Awaiting Signoff
						<% unless actionable_tasks[:awaiting_signoff].empty? %>
							<%= " (#{actionable_tasks[:awaiting_signoff].values.flatten.size})" %>
						<% end %>
					</a>
				</li>
				<li>
					<a href="#needing-help-tab" data-toggle="tab">
						<i class="icon-exclamation-sign"></i>
						Needing Help
						<% unless actionable_tasks[:needing_help].empty? %>
							<%= " (#{actionable_tasks[:needing_help].values.flatten.size})" %>
						<% end %>
					</a>
				</li>
				<li>
					<a href="#working-on-it-tab" data-toggle="tab">
						<i class="icon-bolt"></i>
						Working On It
						<% unless actionable_tasks[:working_on_it].empty? %>
							<%= " (#{actionable_tasks[:working_on_it].values.flatten.size})" %>
						<% end %>
					</a>
				</li>
			</ul>

			<div class="tab-content">
				<%= tab_div_tag("awaiting-signoff-tab", true) do %>
					<%= render 'shared/assessment/backlog/awaiting_signoff',
						unmarked_tasks: actionable_tasks[:awaiting_signoff] %>
				<% end %>

				<%= tab_div_tag("needing-help-tab") do %>
					<%= render 'shared/assessment/backlog/needing_help',
						needing_help_tasks: actionable_tasks[:needing_help] %>
				<% end %>

				<%= tab_div_tag("working-on-it-tab") do %>
					<%= render 'shared/assessment/backlog/working_on_it',
						working_on_it_tasks: actionable_tasks[:working_on_it] %>
				<% end %>
			</div>
		</div>
	</div>
</div>