<%= render 'units/task_indicator_controls', mode: :progress %>

<% tutorials.each do |tutorial| %>
<div class="tutorial-entry" id="tutorial-<%= tutorial.id %>-students">
    <h3><%= tutorial.meeting_day %> <%= tutorial.meeting_time %> (<%= tutorial.tutor.name %>)</h3>
    <%= render 'units/tutorial_project_list', tutorial: tutorial %>
</div>
<% end %>