<table class="table table-striped">
	<thead>
		<tr>
			<th><%= sortable "username" %></th>
			<th><%= sortable "name" %></th>
			<th><%= sortable "progress" %></th>
			<th><%= sortable "tasks_completed" %></th>
			<th><%= sortable "units_completed", "Completed Units" %></th>
			<th>Tutorial</th>
		</tr>
	</thead>
	<tbody>
		<% projects.each do |project| %>
			<tr>
				<td><%= link_to project.student.user.username, project_path(project) %></td>
				<td><%= project.student.user.name %></td>
				<td>
					<% if project.in_progress? and !project.completed? %>
					<%= progress_badge(project.progress) %>
					<% else %>
					<%= status_badge(project.status) %>
					<% end %>
				<td>
					<%= link_to "#{project.completed_tasks.size} / #{project.assigned_tasks.size}", project_path(project) %>
				</td>
				<td>
					<%= link_to "#{"%3.1f" % project.task_units_completed}" %>
				</td>
				<td>
					<%= link_to [
						"#{project.student.tutorial.meeting_day}",
						"#{project.student.tutorial.meeting_time}",
						"(#{project.student.tutorial.tutor.name})"
					].join(" "), convenor_unit_tutorial_path(project.unit, project.student.tutorial) %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>