<p id="no-project-templates-message" <%= "hidden='hidden'" if not units.empty? %> ><%= empty_table_string %></p>
<table id="project-templates-table" class="table table-striped" <%= "hidden='hidden'" if units.empty? %> <%= empty_table_string %>>
  <thead>
    <tr>
      <th><%= Unit.human_attribute_name(:name) %></th>
      <th><%= Unit.human_attribute_name(:description) %></th>
      <th>Convenors</th>
      <th><%= Unit.human_attribute_name(:start_date) %></th>
      <th><%= Unit.human_attribute_name(:end_date) %></th>
      <th><%= Unit.human_attribute_name(:active) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% units.each do |unit| %>
      <%= render :partial => '/units/table_row', :locals => {:unit => unit} %>
    <% end %>
  </tbody>
</table>