<h2><i class="icon-pencil"></i>Tasks</h2>
<div class="widget-content">
    <%= render :partial => 'task_definitions/table', locals: {
        :task_list => task_definitions,
        :empty_table_string => "This project has no tasks."
    } %>

    <hr />
    
    <span id="task-buttons">
        <%= link_to "Create new task", unit_new_task_path(unit), :onclick => "$('#destroy-tasks-button').show()", :class => 'btn', "data-remote" => true %>

        <% if task_definitions.empty? %>
        <%= link_to "Destroy all tasks", unit_destroy_all_tasks_path(unit), 
                    :class => 'btn btn-danger', 
                    :id => 'destroy-tasks-button',
                    "data-remote" => true,
                    :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'All tasks (including instances assigned to users) will be destroyed. Are you sure?'))}, :style => "display: none;" %>
        <% else %>
        <%= link_to "Destroy all tasks", unit_destroy_all_tasks_path(unit), 
                    :class => 'btn btn-danger', 
                    :id => 'destroy-tasks-button',
                    "data-remote" => true,
                    :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'All tasks (including instances assigned to users) will be destroyed. Are you sure?'))} %>
        <% end %>
    </span>

    <hr />

    <span id="export-buttons">
        <%= link_to "Export to CSV", unit_export_tasks_path(unit, format: "csv"),
                    :class => 'btn',
                    :id => 'export-tasks-to-csv-button'
        %>
    </span>

    <hr />
        <div class="well">
        <%= form_tag "#{unit.id}/import_tasks", multipart: true, remote: true do %>
            <%= file_field(:csv_file, :file) %>
            <%= submit_tag "Import Tasks from CSV", class: "btn" %>
        <% end %>
        <%= link_to "Download Import Template", task_import_template_path %>
    </div>
</div>