<h2><i class="icon-group"></i>Tutorials</h2>
<div class="widget-content">
    <%= render :partial => 'tutorials/table', locals: {
        tutorial_list: project_tutorials,
        empty_table_string: "This project has no tutorials."
    } %>
    <hr />
    <%= link_to "Create new tutorial", unit_new_tutorial_path(unit), :class => 'btn', "data-remote" => true %>
    <hr />
    <div class="well">
    <%= form_tag "#{unit.id}/import_tutorials", :multipart => true, :remote => true do %>
        <%= file_field(:csv_file, :file) %>
        <%= submit_tag "Import Tutorials from CSV", :class => "btn" %>
    <% end %>
    </div>
</div>