<%= stylesheets 'tasks.css', 'tutor_projects.css' %>
<%= javascript 'tutor_projects.js' %>
<%= javascript 'tasks.js' %>
<%= javascript "task_popover.js" %>

<div class="widget span12">
	<div class="widget-header">
		<h2><i class="icon-group"></i>Progress</h2>
	</div>
	<div class="widget-content">
		<div class="tabbable">
			<ul class="nav nav-tabs">
				<%= tab_li_tag("your-tutorials-tab", true) do %>
	                <a href="#your-tutorials-tab" data-toggle="tab">Your Tutorials</a>
	            <% end %>
	            <% if !other_tutorials.empty? %>
					<%= tab_li_tag("other-tutorials-tab") do %>
		                <a href="#other-tutorials-tab" data-toggle="tab">Other Tutorials</a>
		            <% end %>
		        <% end %>
			</ul>

			<div class="tab-content">
				<%= tab_div_tag("your-tutorials-tab", true) do %>
					<%= render 'tutor_projects/tutorial_task_controls',
						tutorials:  tutor_tutorials
					%>
				<% end %>

				<% if !other_tutorials.empty? %>
					<%= tab_div_tag("other-tutorials-tab") do %>
						<%= render 'tutor_projects/other_tutorial_task_controls',
							initial_other_tutorial: initial_other_tutorial,
							other_tutorials: other_tutorials,
							unit: unit
						%>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
</div>