<% stylesheets 'convenor.css' %>
<% javascript 'status_distribution.js' %>

<% title "Convenor Dashboard" %>


<% content_for :sidebar do %>
    <ul class="nav nav-list">
        <li class="nav-header">Dashboard</li>
        <li class="active"><%= link_to 'Home', root_url %></li>
        <% unless @staff_units.empty? %>
            <%= render 'dashboard/staff_unit_links',
                units: @staff_units, selected_unit: nil
            %>
        <% end %>
    </ul>
<% end %>

<div class="span9">
    <% if @inactive_convenor_units.size < 3 %>
        <% @inactive_convenor_units.each_with_index do |project, i| %>
        <div class="row-fluid">
            <div class="widget span12">
                <div class="widget-header">
                    <h2><i class="icon-book"></i><%= project.name %></h2>
                </div>
                <div class="widget-content">
                    <%= render 'convenor_units/convenor_unit',
                        project: project,
                        status_distribution: project.status_distribution
                    %>
                </div>
            </div>
        </div>
        <% end %>
    <% else %>
        <% @inactive_convenor_units.each_with_index do |project, i| %>
            <% if i % 2 == 0 %>
            <div class="row-fluid">
            <% end %>
                <div class="widget span6">
                    <div class="widget-header">
                        <h2><i class="icon-book"></i><%= project.name %></h2>
                    </div>
                    <div class="widget-content">
                        <%= render 'convenor_units/convenor_unit',
                            project: project,
                            status_distribution: project.status_distribution
                        %>
                    </div>
                </div>
            <% if i % 2 == 1 %>
            </div>
            <% end %>
        <% end %>
    <% end %>
</div>