<% javascript 'task_status_breakdown.js' %>
<% javascript 'convenor_units.js' %>

<% stylesheets 'convenor.css' %>

<% title @unit.name %>

<% content_for :sidebar do %>
    <ul class="nav nav-list">
        <li class="nav-header">Dashboard</li>
        <li><%= link_to 'Home', root_url %></li>
        <% unless @student_projects.empty? %>
            <%=
                render 'dashboard/student_projects_links',
                student_projects: @student_projects,
                selected_student_project: @project
            %>
        <% end %>
        <% unless @staff_units.empty? %>
            <%= render 'dashboard/staff_unit_links',
                units: @staff_units, selected_unit: @unit
            %>
        <% end %>
    </ul>
<% end %>

<div class="span9">
    <div class="row-fluid">
        <ul class="breadcrumb">
          <li>
            <%= link_to "Home", root_url %>
            <span class="divider">/</span>
          </li>
          <li class="active"><%= @unit.name %></li>
        </ul>

        <div class="tabbable">
            <ul class="nav nav-pills">
            <% @tabs.each do |tab| %>
                <%= tab_li_tag("#{tab.to_s.dasherize}-tab", tab == @selected_tab) do %>
                    <a href="#<%= "#{tab.to_s.dasherize}-tab" %>" data-toggle="tab">
                        <%= tab.to_s.titleize %>
                    </a>
                <% end %>
            <% end %>
            </ul>

            <div class="tab-content">
                <% if @tabs.include? :summary %>
                <%= tab_div_tag("summary-tab", @selected_tab == :summary) do %>
                    <%= render 'students_widget', unit: @unit, projects: @projects %>
                <% end %>
                <% end %>
                <% if @tabs.include? :progress %>
                <%= tab_div_tag("progress-tab", @selected_tab == :progress) do %>
                    <%= render 'tutorial_progress_widget',
                        tutor_tutorials: @tutor_tutorials,
                        initial_other_tutorial: @initial_other_tutorial,
                        other_tutorials: @other_tutorials,
                        unit: @unit
                    %>
                <% end %>
                <% end %>
                <% if @tabs.include? :tutorials %>
                <%= tab_div_tag("tutorials-tab", @selected_tab == :tutorials) do %>
                    <%= render 'tutorials_widget', unit: @unit, tutorials: @project_tutorials %>
                <% end %>
                <% end %>
                <% if @tabs.include? :tasks %>
                <%= tab_div_tag("tasks-tab", @selected_tab == :tasks) do %>
                    <%= render 'tasks_widget', unit: @unit %>
                <% end %>
                <% end %>
                <% if @tabs.include? :assessment_backlog %>
                <%= tab_div_tag("assessment-backlog-tab", @selected_tab == :assessment_backlog) do %>
                    <%= render 'assessment_backlog_widget', actionable_tasks: @actionable_tasks %>
                <% end %>
                <% end %>
            </div>
        </div>
    </div>
</div>