<%= stylesheets 'tasks.css', 'tutor_projects.css' %>

<%= javascript 'tutor_projects.js' %>
<%= javascript 'tasks.js' %>
<%= javascript "task_popover.js" %>

<% title "#{@unit.name}" %>

<% content_for :sidebar do %>
    <%= render partial:  'layouts/admin_menu' %>
<% end %>

<div class="span9">
    <ul class="breadcrumb">
        <li>
            <%= link_to "Home", root_url %>
            <span class="divider">/</span>
        </li>
        <li>
            <%= link_to @unit.name, convenor_project_path(@unit) %>
            <span class="divider">/</span>
        </li>
        <li class="active">
            Tutorials
        </li>
    </ul>

    <div class="row-fluid">
        <div class="widget span12">
            <div class="widget-header">
                <h2><i class="icon-group"></i>Tutorials</h2>
            </div>
            <div class="widget-content" style="padding-top: 30px;">
                <%= render partial:  "convenor_projects/student_progress", locals: {tutorials: @project_tutorials, mode: :progress} %>
            </div>
        </div>
    </div>
</div>