<%= stylesheets 'tasks.css', 'tutor_projects.css' %>

<%= javascript 'tutor_projects.js' %>
<%= javascript 'tasks.js' %>
<%= javascript "task_popover.js" %>

<% title "#{@unit.name} - #{@tutorial.name}" %>

<% content_for :sidebar do %>
    <ul class="nav nav-list">
        <li class="nav-header">Dashboard</li>
        <li><%= link_to 'Home', root_url %></li>
        <% unless @convenor_projects.empty? %>
            <%= render partial: 'dashboard/convenor_projects_links',
                locals: {
                    active_projects: @convenor_projects,
                    inactive_projects: [],
                    selected_project: @unit
                }
            %>
        <% end %>
    </ul>
<% end %>

<div class="span9">
	
	<ul class="breadcrumb">
		<li>
			<%= link_to "Home", root_url %>
			<span class="divider">/</span>
		</li>
		<li>
			<%= link_to @unit.name, convenor_project_path(@unit) %>
			<span class="divider">/</span>
		</li>
		<li class="active"><%= @tutorial.name %></li>
	</ul>

	<div class="row-fluid">
		<div class="span12 widget">
			<h2><i class="icon-group"></i>
			 	<%= @tutorial.meeting_day %>
			 	<%= @tutorial.meeting_time %>
			 	(<%= @tutorial.user.name %>)
			</h2>
			<div class="widget-content" style="padding-top: 30px;">
				<%= render :partial => "tutor_projects/tutorial_project_list", :locals => { :tutorial => @tutorial } %>
			</div>
		</div>
	</div>
</div>