<%= javascript 'projects.js' %>
<%= stylesheets 'tasks.css' %>

<h2><i class="icon-tasks"></i>Tasks</h2>
<div class="widget-content" id="task-list-widget">
	<% tasks.each do |task| %>
	<div class="task-list-entry row-fluid" id="task-<%= task.id %>-entry">
		<h3>
			<%= link_to truncate(task.task_template.name, :length => 15), project_task_path(@project, task) %>
		</h3>
		<p class="task-weighting-points">(<%= task.task_template.weighting %> points)</p>
		<p class="toggle-task-description-container"><a href="#" class="toggle-task-description btn"><i class="icon-chevron-down"></i></a></p>
		<p class="task-submission-vs-time"><%= task_submission_vs_time_text(task) %></p>
		<div class="task-status-controls" style="display: inline-block;">
			<% if task.complete? %>
				<button class="btn btn-success status-display-button">Complete <i class="icon-ok button-icon"></i></button>
			<% else %>
			<div class="btn-group">
				<% if task.awaiting_signoff? %>
				<button class="btn btn-primary status-display-button">
					Ready to Mark <i class="icon-thumbs-up button-icon" style=""></i>
				</button>
				<button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
				<% else %>
				<% if task.needs_fixing? %>
				<button class="btn btn-warning status-display-button">Fix <i class="icon-wrench button-icon"></i></button>
				<button class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
				<% else %>
				<button class="btn status-display-button">
					Not Ready to Mark
				</button>
				<button class="btn dropdown-toggle" data-toggle="dropdown">
				<% end %>
				<% end %>
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li>
						<a href="<%= awaiting_signoff_path(task, "true") %>" data-method="put" class="ready-to-mark-button" data-remote="true">Ready to Mark <i class="icon-thumbs-up button-icon"></i></a>
					</li>
					<li style="width: 170px">
						<a href="<%= awaiting_signoff_path(task, "false") %>" data-method="put" class="ready-to-mark-button" data-remote="true">Not Ready to Mark <i class="icon-remove button-icon"></i></a>
					</li>
				</ul>
			</div>
			<% end %>
		</div>
		<div class="task-description">
			<p><%= task.task_template.description %></p>
		</div>
	</div>
	<% end %>
</div>
