<!DOCTYPE html>
<html>
<head>
  <title>Doubtfire</title>
  <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600" rel="stylesheet" type="text/css">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= yield(:css) %>
  <%= javascript_include_tag "application" %>
  <%= yield(:javascript) %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<header class="navbar navbar-fixed-top">
    <nav class="navbar-inner">
      <div class="container-fluid">
        <%= link_to "Doubtfire", root_path, :class => 'brand' %>
        <%= render 'layouts/navigation' %>
      </div>
    </nav>
  </header>

  <div id="main" role="main">
    <div class="container-fluid">  
      <div class="row-fluid">
        <div class="span2">
          <div class="well sidebar-nav">
            <%= yield(:sidebar) %>
          </div>
        </div>
        <%= yield %>
      </div>  
    </div>
  </div>
</body>
</html>