<!DOCTYPE html>
<html>
<head>
  <title>Doubtfire<%= content_for?(:title) ? " - #{yield(:title)}" : "" %></title>
  <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600" rel="stylesheet" type="text/css">
  <%= stylesheet_link_tag    "application", media:  "all" %>
  <%= yield(:css) %>
  <%= javascript_include_tag "application" %>
  <%= yield(:javascript) %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div class="content-wrapper">
    <header class="navbar navbar-fixed-top">
      <nav class="navbar-inner">
        <div class="container-fluid">
          <%= render 'layouts/navigation' %>
        </div>
      </nav>
    </header>

    <% [:notice, :error, :alert].each do |level| %>
      <% unless flash[level].blank? %>
        <div class="alert alert-<%= flash_class(level) %>">
          <a class="close" data-dismiss="alert" href="#">&#215;</a>
          <%= content_tag :p, flash[level] %>
        </div>
      <% end %>
    <% end %>

    <div id="main" role="main">
      <div class="container-fluid">
        <div class="row-fluid">
          <div class="page-banner">
            <%= yield(:page_banner) %>
          </div>
        </div>
        <div class="row-fluid">
          <% if content_for?(:sidebar) %>
            <div class="span3">
              <div class="well sidebar-nav">
                <%= yield(:sidebar) %>
              </div>
            </div>
          <% end %>
          <%= yield %>
        </div>  
      </div>
    </div>

    <div class="push"></div>
  </div>

  <div class="footer">
    <hr />
    <p>Developed by the SUCCESS R&amp;D Software Group, 2012</p>
    <p>Got feedback? <script>document.write("<a href='mailto:rliston@swin.edu.au,ajones@swin.edu.au?cc=cwoodward@swin.edu.au,acain@swin.edu.au&subject=Doubtfire%20feedback%20-%20"+top.location.href+"'>Send us an email.</a>"); </script>
    <hr />
  </div>
</body>
</html>